In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
DATABASE_URL = "postgresql://postgres:postgres@localhost:5432/bigdata"
engine = create_engine(DATABASE_URL)
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ReadJSON").getOrCreate()

In [ ]:
%%time
df = pd.read_sql_table("department", con=engine)

In [ ]:
%%time
df = pd.read_sql_table("employee", con=engine)

In [ ]:
df.to_csv("data\\employee.csv",index=False)

In [ ]:
df = pd.read_sql_table("department", con=engine)

In [ ]:
198942/(1024*1024)

In [ ]:
%%time
df = pd.read_sql_table("salary", con=engine)

In [ ]:
%%time
df_15 = pd.read_sql("select * from salary limit 1500000", con=engine)

In [ ]:
%%time
df_15 = pd.read_sql("select * from salary limit 3000000", con=engine)

In [ ]:
%%time
df_50 = pd.read_sql("select * from salary limit 5000000", con=engine)

In [ ]:
df_50.to_csv('data\salary_50L.csv', index=False)

In [ ]:
%%time
df_1cr = pd.read_sql("select * from salary limit 10000000", con=engine)

In [ ]:
df_1cr.to_csv('data\salary_1cr.csv', index=False)

In [ ]:
365781/(1024*1024)

In [8]:
%%time
df = pd.read_csv("data\\salary_50L.csv")

CPU times: total: 1.61 s
Wall time: 1.62 s

         salary_id    emp_id salary_month    amount
0          4504017   7087500   2024-09-25  13714.43
1          4504018   7087500   2024-10-25   9370.35
2          4504019   7087500   2024-11-24   3679.19
3          4504020   7087500   2024-12-24   7730.60
4          4504021   7087520   2020-02-19  14822.82
...            ...       ...          ...       ...
4999995    9504012  39469052   2024-04-28   8976.04
4999996    9504013  39469052   2024-05-28   7109.58
4999997    9504014  39469052   2024-06-27   6790.92
4999998    9504015  39469052   2024-07-27  14386.61
4999999    9504016  39469052   2024-08-26   8504.04

[5000000 rows x 4 columns]

In [7]:
%%time
df_json = spark.read.csv("data\\salary_50L.csv")
df_json.show()

+---------+-------+------------+--------+
|      _c0|    _c1|         _c2|     _c3|
+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
|  4504017|7087500|  2024-09-25|13714.43|
|  4504018|7087500|  2024-10-25| 9370.35|
|  4504019|7087500|  2024-11-24| 3679.19|
|  4504020|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
|  4504022|7087520|  2020-03-20| 6668.04|
|  4504023|7087520|  2020-04-19|  5948.5|
|  4504024|7087520|  2020-05-19| 6760.61|
|  4504025|7087520|  2020-06-18|12243.51|
|  4504026|7087520|  2020-07-18| 3069.33|
|  4504027|7087520|  2020-08-17|12849.55|
|  4504028|7087520|  2020-09-16|13361.52|
|  4504029|7087520|  2020-10-16| 5482.07|
|  4504030|7087520|  2020-11-15|12287.98|
|  4504031|7087520|  2020-12-15| 9247.67|
|  4504032|7087520|  2021-01-14|11684.05|
|  4504033|7087520|  2021-02-13|13201.85|
|  4504034|7087520|  2021-03-15|  5000.9|
|  4504035|7087520|  2021-04-14| 7511.35|
+---------+-------+------------+--------+
only showing top 20 rows

CPU times: total: 0 ns
Wall time: 230 ms

In [6]:
%%time
df_json = spark.read.csv("data\\salary_1cr.csv")
df_json.show()
print("hello")

+---------+--------+------------+--------+
|      _c0|     _c1|         _c2|     _c3|
+---------+--------+------------+--------+
|salary_id|  emp_id|salary_month|  amount|
|  9505409|39470031|  2020-10-16| 7710.72|
|  9505410|39470031|  2020-11-15| 3114.26|
|  9505411|39470031|  2020-12-15| 10102.4|
|  9505412|39470031|  2021-01-14|13129.35|
|  9505413|39470031|  2021-02-13|  5642.5|
|  9505414|39470031|  2021-03-15|  7808.9|
|  9505415|39470031|  2021-04-14|  5634.8|
|  9505416|39470031|  2021-05-14|  9629.5|
|  9505417|39470031|  2021-06-13| 14030.1|
|  9505418|39470031|  2021-07-13|  6550.5|
|  9505419|39470031|  2021-08-12| 9889.22|
|  9505420|39470031|  2021-09-11| 5650.45|
|  9505421|39470031|  2021-10-11| 4788.31|
|  9505422|39470031|  2021-11-10|14598.19|
|  9505423|39470031|  2021-12-10|11636.03|
|  9505424|39470031|  2022-01-09| 5175.91|
|  9505425|39470031|  2022-02-08|12947.17|
|  9505426|39470031|  2022-03-10|10639.96|
|  9505427|39470031|  2022-04-09| 4480.05|
+---------+--------+------------+--------+
only showing top 20 rows

hello
CPU times: total: 0 ns
Wall time: 284 ms

In [ ]:
%%time
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ReadJSON").getOrCreate()
print(id(spark))

In [ ]:
spark = SparkSession.builder.appName("ReadJSON").getOrCreate()
print(id(spark))

In [ ]:
spark = SparkSession.builder.appName("app1").getOrCreate()
print(id(spark))

In [ ]:
%%time
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ReadJSON").create()
print(id(spark))

In [9]:
%%time
sdf = spark.read.csv("data\\salary_1cr.csv")

CPU times: total: 0 ns
Wall time: 166 ms

In [10]:
print(dir(sdf))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_c0', '_c1', '_c2', '_c3', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'agg', 'alias', 'approxQuantile', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']

In [11]:
%%time
print(sdf.count())

10000001
CPU times: total: 0 ns
Wall time: 1.44 s

In [ ]:
%%time
print(sdf.count())

In [13]:
%%time
sdf.take(20)

CPU times: total: 0 ns
Wall time: 61.9 ms

[Row(_c0='salary_id', _c1='emp_id', _c2='salary_month', _c3='amount'),
 Row(_c0='9505409', _c1='39470031', _c2='2020-10-16', _c3='7710.72'),
 Row(_c0='9505410', _c1='39470031', _c2='2020-11-15', _c3='3114.26'),
 Row(_c0='9505411', _c1='39470031', _c2='2020-12-15', _c3='10102.4'),
 Row(_c0='9505412', _c1='39470031', _c2='2021-01-14', _c3='13129.35'),
 Row(_c0='9505413', _c1='39470031', _c2='2021-02-13', _c3='5642.5'),
 Row(_c0='9505414', _c1='39470031', _c2='2021-03-15', _c3='7808.9'),
 Row(_c0='9505415', _c1='39470031', _c2='2021-04-14', _c3='5634.8'),
 Row(_c0='9505416', _c1='39470031', _c2='2021-05-14', _c3='9629.5'),
 Row(_c0='9505417', _c1='39470031', _c2='2021-06-13', _c3='14030.1'),
 Row(_c0='9505418', _c1='39470031', _c2='2021-07-13', _c3='6550.5'),
 Row(_c0='9505419', _c1='39470031', _c2='2021-08-12', _c3='9889.22'),
 Row(_c0='9505420', _c1='39470031', _c2='2021-09-11', _c3='5650.45'),
 Row(_c0='9505421', _c1='39470031', _c2='2021-10-11', _c3='4788.31'),
 Row(_c0='9505422', _c1='39470031', _c2='2021-11-10', _c3='14598.19'),
 Row(_c0='9505423', _c1='39470031', _c2='2021-12-10', _c3='11636.03'),
 Row(_c0='9505424', _c1='39470031', _c2='2022-01-09', _c3='5175.91'),
 Row(_c0='9505425', _c1='39470031', _c2='2022-02-08', _c3='12947.17'),
 Row(_c0='9505426', _c1='39470031', _c2='2022-03-10', _c3='10639.96'),
 Row(_c0='9505427', _c1='39470031', _c2='2022-04-09', _c3='4480.05')]

In [14]:
%%time
sdf_50L = spark.read.csv("data\\salary_50L.csv")

CPU times: total: 0 ns
Wall time: 136 ms

In [15]:
import sys
print(sys.getsizeof(sdf_50L))

48

In [17]:
from pympler import asizeof
print(asizeof.asizeof(sdf_50L))

36872

In [18]:
180944/1024

176.703125

In [19]:
180944/(1024*1024)

0.1725616455078125

In [20]:
%%time
sdf_50L = spark.read.csv("data\\salary_50L.csv")

CPU times: total: 0 ns
Wall time: 145 ms

In [21]:
print(sdf_50L.columns)

['_c0', '_c1', '_c2', '_c3']

In [22]:
sdf_50L.dtypes

[('_c0', 'string'), ('_c1', 'string'), ('_c2', 'string'), ('_c3', 'string')]

In [23]:
sdf_50L.take(1)

[Row(_c0='salary_id', _c1='emp_id', _c2='salary_month', _c3='amount')]

In [24]:
sdf_50L = spark.read.csv?

Signature:
spark.read.csv(
    path: Union[str, List[str]],
    schema: Union[pyspark.sql.types.StructType, str, NoneType] = None,
    sep: Optional[str] = None,
    encoding: Optional[str] = None,
    quote: Optional[str] = None,
    escape: Optional[str] = None,
    comment: Optional[str] = None,
    header: Union[bool, str, NoneType] = None,
    inferSchema: Union[bool, str, NoneType] = None,
    ignoreLeadingWhiteSpace: Union[bool, str, NoneType] = None,
    ignoreTrailingWhiteSpace: Union[bool, str, NoneType] = None,
    nullValue: Optional[str] = None,
    nanValue: Optional[str] = None,
    positiveInf: Optional[str] = None,
    negativeInf: Optional[str] = None,
    dateFormat: Optional[str] = None,
    timestampFormat: Optional[str] = None,
    maxColumns: Union[str, int, NoneType] = None,
    maxCharsPerColumn: Union[str, int, NoneType] = None,
    maxMalformedLogPerPartition: Union[str, int, NoneType] = None,
    mode: Optional[str] = None,
    columnNameOfCorruptRecord: Optional[str] = None,
    multiLine: Union[bool, str, NoneType] = None,
    charToEscapeQuoteEscaping: Optional[str] = None,
    samplingRatio: Union[str, float, NoneType] = None,
    enforceSchema: Union[bool, str, NoneType] = None,
    emptyValue: Optional[str] = None,
    locale: Optional[str] = None,
    lineSep: Optional[str] = None,
    pathGlobFilter: Union[bool, str, NoneType] = None,
    recursiveFileLookup: Union[bool, str, NoneType] = None,
    modifiedBefore: Union[bool, str, NoneType] = None,
    modifiedAfter: Union[bool, str, NoneType] = None,
    unescapedQuoteHandling: Optional[str] = None,
) -> 'DataFrame'
Docstring:
Loads a CSV file and returns the result as a  :class:`DataFrame`.

This function will go through the input once to determine the input schema if
``inferSchema`` is enabled. To avoid going through the entire data once, disable
``inferSchema`` option or specify the schema explicitly using ``schema``.

.. versionadded:: 2.0.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
path : str or list
    string, or list of strings, for input path(s),
    or RDD of Strings storing CSV rows.
schema : :class:`pyspark.sql.types.StructType` or str, optional
    an optional :class:`pyspark.sql.types.StructType` for the input schema
    or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).

Other Parameters
----------------
Extra options
    For the extra options, refer to
    `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
    for the version you use.

    .. # noqa

Examples
--------
Write a DataFrame into a CSV file and read it back.

>>> import tempfile
>>> with tempfile.TemporaryDirectory() as d:
...     # Write a DataFrame into a CSV file
...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
...     df.write.mode("overwrite").format("csv").save(d)
...
...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon'.
...     spark.read.csv(d, schema=df.schema, nullValue="Hyukjin Kwon").show()
+---+----+
|age|name|
+---+----+
|100|NULL|
+---+----+
File:      c:\users\navya\anaconda3\lib\site-packages\pyspark\sql\readwriter.py
Type:      method

In [25]:
%%time
sdf_50L = spark.read.csv("data\\salary_50L.csv", inferSchema=True)

CPU times: total: 0 ns
Wall time: 2.51 s

In [26]:
print(sdf_50L.columns)
print(sdf_50L.dtypes)

['_c0', '_c1', '_c2', '_c3']
[('_c0', 'string'), ('_c1', 'string'), ('_c2', 'string'), ('_c3', 'string')]

In [27]:
%%time
df = spark.read.csv('data\\data.csv')
print(df.dtypes)

[('_c0', 'string')]
CPU times: total: 0 ns
Wall time: 130 ms

In [28]:
%%time
df = spark.read.csv('data\\data.csv', sep=":")
print(df.dtypes)

[('_c0', 'string'), ('_c1', 'string'), ('_c2', 'string'), ('_c3', 'string')]
CPU times: total: 0 ns
Wall time: 104 ms

In [29]:
%%time
df = spark.read.csv('data\\data.csv', sep=":", inferSchema=True)
print(df.dtypes)

[('_c0', 'string'), ('_c1', 'string'), ('_c2', 'string'), ('_c3', 'string')]
CPU times: total: 0 ns
Wall time: 122 ms

In [31]:
%%time
df = spark.read.csv('data\\data.csv', sep=":", inferSchema=True).toDF("salary_id","emp_id","salary_month","amount")
print(df.dtypes)

[('salary_id', 'string'), ('emp_id', 'string'), ('salary_month', 'string'), ('amount', 'string')]
CPU times: total: 0 ns
Wall time: 170 ms

In [32]:
df.columns

['salary_id', 'emp_id', 'salary_month', 'amount']

In [33]:
print(df)

DataFrame[salary_id: string, emp_id: string, salary_month: string, amount: string]

In [34]:
%%time
df = spark.read.csv('data\\data.csv', sep=":", inferSchema=True).toDF("salary_id","emp_id")
print(df.dtypes)
print(df.columns)

[('salary_id', 'string'), ('emp_id', 'string')]
['salary_id', 'emp_id']
CPU times: total: 0 ns
Wall time: 170 ms

In [36]:
%%time
df = spark.read.csv('data\\data1.csv', inferSchema=True).toDF("salary_id","emp_id")
print(df.dtypes)
print(df.columns)

[('salary_id', 'string'), ('emp_id', 'string')]
['salary_id', 'emp_id']
CPU times: total: 0 ns
Wall time: 135 ms

In [37]:
print(dir(df))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'agg', 'alias', 'approxQuantile', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'emp_id', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'salary_id', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']

In [38]:
df.describe()

DataFrame[summary: string, salary_id: string, emp_id: string]

In [39]:
%%time
df = spark.read.csv('data\\data1.csv', inferSchema=True, header=True).toDF("salary_id","emp_id")
print(df.dtypes)
print(df.columns)

[('salary_id', 'int'), ('emp_id', 'int')]
['salary_id', 'emp_id']
CPU times: total: 0 ns
Wall time: 175 ms

In [40]:
%%time
df = spark.read.csv('data\\data1.csv', inferSchema=True, header=True)
print(df.dtypes)
print(df.columns)

[('salary_id', 'int'), ('emp_id', 'int')]
['salary_id', 'emp_id']
CPU times: total: 0 ns
Wall time: 123 ms

In [3]:
%%time
df = spark.read.csv('data\\data1.csv', inferSchema=True)
print(df.dtypes)
print(df.columns)
df = spark.read.csv('data\\data1.csv', inferSchema=True, header=True)
print(df.dtypes)
print(df.columns)
print(df.show())

[('_c0', 'string'), ('_c1', 'string')]
['_c0', '_c1']
[('salary_id', 'int'), ('emp_id', 'int')]
['salary_id', 'emp_id']
+---------+-------+
|salary_id| emp_id|
+---------+-------+
|  4504017|7087500|
|  4504018|7087500|
|  4504019|7087500|
|  4504020|7087500|
|  4504021|7087520|
+---------+-------+

None
CPU times: total: 0 ns
Wall time: 5.03 s

In [4]:
%%time
df = spark.read.csv('data\\salary_50L.csv', inferSchema=True)
print(df.dtypes)
print(df.columns)
df = spark.read.csv('data\\salary_50L.csv', inferSchema=True, header=True)
print(df.dtypes)
print(df.columns)
print(df.show())

[('_c0', 'string'), ('_c1', 'string'), ('_c2', 'string'), ('_c3', 'string')]
['_c0', '_c1', '_c2', '_c3']
[('salary_id', 'int'), ('emp_id', 'int'), ('salary_month', 'date'), ('amount', 'double')]
['salary_id', 'emp_id', 'salary_month', 'amount']
+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|13714.43|
|  4504018|7087500|  2024-10-25| 9370.35|
|  4504019|7087500|  2024-11-24| 3679.19|
|  4504020|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
|  4504022|7087520|  2020-03-20| 6668.04|
|  4504023|7087520|  2020-04-19|  5948.5|
|  4504024|7087520|  2020-05-19| 6760.61|
|  4504025|7087520|  2020-06-18|12243.51|
|  4504026|7087520|  2020-07-18| 3069.33|
|  4504027|7087520|  2020-08-17|12849.55|
|  4504028|7087520|  2020-09-16|13361.52|
|  4504029|7087520|  2020-10-16| 5482.07|
|  4504030|7087520|  2020-11-15|12287.98|
|  4504031|7087520|  2020-12-15| 9247.67|
|  4504032|7087520|  2021-01-14|11684.05|
|  4504033|7087520|  2021-02-13|13201.85|
|  4504034|7087520|  2021-03-15|  5000.9|
|  4504035|7087520|  2021-04-14| 7511.35|
|  4504036|7087520|  2021-05-14|11958.64|
+---------+-------+------------+--------+
only showing top 20 rows

None
CPU times: total: 0 ns
Wall time: 3.91 s

In [5]:
%%time
df = spark.read.csv('data\\salary_50L.csv', inferSchema=True)
print(df.dtypes)
print(df.columns)
df = spark.read.csv('data\\salary_50L.csv',header=True)
print(df.dtypes)
print(df.columns)
print(df.show())

[('_c0', 'string'), ('_c1', 'string'), ('_c2', 'string'), ('_c3', 'string')]
['_c0', '_c1', '_c2', '_c3']
[('salary_id', 'string'), ('emp_id', 'string'), ('salary_month', 'string'), ('amount', 'string')]
['salary_id', 'emp_id', 'salary_month', 'amount']
+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|13714.43|
|  4504018|7087500|  2024-10-25| 9370.35|
|  4504019|7087500|  2024-11-24| 3679.19|
|  4504020|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
|  4504022|7087520|  2020-03-20| 6668.04|
|  4504023|7087520|  2020-04-19|  5948.5|
|  4504024|7087520|  2020-05-19| 6760.61|
|  4504025|7087520|  2020-06-18|12243.51|
|  4504026|7087520|  2020-07-18| 3069.33|
|  4504027|7087520|  2020-08-17|12849.55|
|  4504028|7087520|  2020-09-16|13361.52|
|  4504029|7087520|  2020-10-16| 5482.07|
|  4504030|7087520|  2020-11-15|12287.98|
|  4504031|7087520|  2020-12-15| 9247.67|
|  4504032|7087520|  2021-01-14|11684.05|
|  4504033|7087520|  2021-02-13|13201.85|
|  4504034|7087520|  2021-03-15|  5000.9|
|  4504035|7087520|  2021-04-14| 7511.35|
|  4504036|7087520|  2021-05-14|11958.64|
+---------+-------+------------+--------+
only showing top 20 rows

None
CPU times: total: 0 ns
Wall time: 1.71 s

In [ ]:
%%time
df = spark.read.csv('data\\salary_50L.csv', inferSchema=True, header=True)

In [7]:
from pyspark.sql import functions

In [8]:
print(dir(functions))

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'JVMView', 'List', 'Optional', 'PandasUDFType', 'PySparkTypeError', 'PySparkValueError', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Type', 'Union', 'UserDefinedFunction', 'UserDefinedTableFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_py_udf', '_create_py_udtf', '_from_numpy_type', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aes_decrypt', 'aes_encrypt', 'aggregate', 'any_value', 'approxCountDistinct', 'approx_count_distinct', 'approx_percentile', 'array', 'array_agg', 'array_append', 'array_compact', 'array_contains', 'array_distinct', 'array_except', 'array_insert', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_prepend', 'array_remove', 'array_repeat', 'array_size', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_and', 'bit_count', 'bit_get', 'bit_length', 'bit_or', 'bit_xor', 'bitmap_bit_position', 'bitmap_bucket_number', 'bitmap_construct_agg', 'bitmap_count', 'bitmap_or_agg', 'bitwiseNOT', 'bitwise_not', 'bool_and', 'bool_or', 'broadcast', 'bround', 'btrim', 'bucket', 'call_function', 'call_udf', 'cardinality', 'cast', 'cbrt', 'ceil', 'ceiling', 'char', 'char_length', 'character_length', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'contains', 'conv', 'convert_timezone', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'count_if', 'count_min_sketch', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'curdate', 'current_catalog', 'current_database', 'current_date', 'current_schema', 'current_timestamp', 'current_timezone', 'current_user', 'date_add', 'date_diff', 'date_format', 'date_from_unix_date', 'date_part', 'date_sub', 'date_trunc', 'dateadd', 'datediff', 'datepart', 'day', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decimal', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'e', 'element_at', 'elt', 'encode', 'endswith', 'equal_null', 'every', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'extract', 'factorial', 'filter', 'find_in_set', 'first', 'first_value', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get', 'get_active_spark_context', 'get_json_object', 'getbit', 'greatest', 'grouping', 'grouping_id', 'has_numpy', 'hash', 'hex', 'histogram_numeric', 'hll_sketch_agg', 'hll_sketch_estimate', 'hll_union', 'hll_union_agg', 'hour', 'hours', 'hypot', 'ifnull', 'ilike', 'initcap', 'inline', 'inline_outer', 'input_file_block_length', 'input_file_block_start', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnotnull', 'isnull', 'java_method', 'json_array_length', 'json_object_keys', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'last_value', 'lcase', 'lead', 'least', 'left', 'length', 'levenshtein', 'like', 'lit', 'ln', 'localtimestamp', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'make_dt_interval', 'make_interval', 'make_timestamp', 'make_timestamp_ltz', 'make_timestamp_ntz', 'make_ym_interval', 'map_concat', 'map_contains_key', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'mask', 'max', 'max_by', 'md5', 'mean', 'median', 'min', 'min_by', 'minute', 'mode', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'named_struct', 'nanvl', 'negate', 'negative', 'next_day', 'now', 'np', 'nth_value', 'ntile', 'nullif', 'nvl', 'nvl2', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'parse_url', 'percent_rank', 'percentile', 'percentile_approx', 'pi', 'pmod', 'posexplode', 'posexplode_outer', 'position', 'positive', 'pow', 'power', 'printf', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'reduce', 'reflect', 'regexp', 'regexp_count', 'regexp_extract', 'regexp_extract_all', 'regexp_instr', 'regexp_like', 'regexp_replace', 'regexp_substr', 'regr_avgx', 'regr_avgy', 'regr_count', 'regr_intercept', 'regr_r2', 'regr_slope', 'regr_sxx', 'regr_sxy', 'regr_syy', 'repeat', 'replace', 'reverse', 'right', 'rint', 'rlike', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'sign', 'signum', 'sin', 'sinh', 'size', 'skewness', 'slice', 'some', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'split_part', 'sqrt', 'stack', 'startswith', 'std', 'stddev', 'stddev_pop', 'stddev_samp', 'str_to_map', 'struct', 'substr', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_micros', 'timestamp_millis', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_binary', 'to_char', 'to_csv', 'to_date', 'to_json', 'to_number', 'to_str', 'to_timestamp', 'to_timestamp_ltz', 'to_timestamp_ntz', 'to_unix_timestamp', 'to_utc_timestamp', 'to_varchar', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'try_add', 'try_aes_decrypt', 'try_avg', 'try_divide', 'try_element_at', 'try_multiply', 'try_remote_functions', 'try_subtract', 'try_sum', 'try_to_binary', 'try_to_number', 'try_to_timestamp', 'typeof', 'ucase', 'udf', 'udtf', 'unbase64', 'unhex', 'unix_date', 'unix_micros', 'unix_millis', 'unix_seconds', 'unix_timestamp', 'unwrap_udt', 'upper', 'url_decode', 'url_encode', 'user', 'var_pop', 'var_samp', 'variance', 'version', 'warnings', 'weekday', 'weekofyear', 'when', 'width_bucket', 'window', 'window_time', 'xpath', 'xpath_boolean', 'xpath_double', 'xpath_float', 'xpath_int', 'xpath_long', 'xpath_number', 'xpath_short', 'xpath_string', 'xxhash64', 'year', 'years', 'zip_with']

In [12]:
%%time
# find the average salary
from pyspark.sql.functions import avg
df = spark.read.csv('data\\salary_50L.csv', inferSchema=True, header=True)
print(df.agg(avg('amount')).show())

+-----------------+
|      avg(amount)|
+-----------------+
|9000.671103074023|
+-----------------+

None
CPU times: total: 0 ns
Wall time: 2.8 s

In [13]:
%%time
#Retrieve Employees with Their Departments
print(dir(spark.read))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_df', '_jreader', '_set_opts', '_spark', 'csv', 'format', 'jdbc', 'json', 'load', 'option', 'options', 'orc', 'parquet', 'schema', 'table', 'text']
CPU times: total: 0 ns
Wall time: 0 ns