In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
session = SparkSession.builder.getOrCreate()

In [2]:
spark = session

In [3]:
df = spark.read.csv("data\\salary50.txt", header=True, inferSchema=True)
print(df.show(10))

+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|    NULL|
|  4504018|7087500|        NULL| 9370.35|
|  4504019|   NULL|  2024-11-24| 3679.19|
|     NULL|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
|  4504022|7087520|  2020-03-20| 6668.04|
|  4504023|7087520|  2020-04-19|  5948.5|
|  4504024|7087520|  2020-05-19| 6760.61|
|  4504025|7087520|  2020-06-18|12243.51|
|  4504026|7087520|  2020-07-18| 3069.33|
+---------+-------+------------+--------+
only showing top 10 rows

None

In [4]:
df = spark.read.csv("data\\salary50.txt", header=True, inferSchema=True)
req_df = df.select("emp_id","salary_month","amount")
print(req_df)

DataFrame[emp_id: int, salary_month: date, amount: double]

In [5]:
df = spark.read.csv("data\\salary50.txt", header=True, inferSchema=True)
req_df = df.select("emp_id","salary_month","amount")
req_df.show(10)

+-------+------------+--------+
| emp_id|salary_month|  amount|
+-------+------------+--------+
|7087500|  2024-09-25|    NULL|
|7087500|        NULL| 9370.35|
|   NULL|  2024-11-24| 3679.19|
|7087500|  2024-12-24|  7730.6|
|7087520|  2020-02-19|14822.82|
|7087520|  2020-03-20| 6668.04|
|7087520|  2020-04-19|  5948.5|
|7087520|  2020-05-19| 6760.61|
|7087520|  2020-06-18|12243.51|
|7087520|  2020-07-18| 3069.33|
+-------+------------+--------+
only showing top 10 rows

In [6]:
print(dir(req_df))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'agg', 'alias', 'amount', 'approxQuantile', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'emp_id', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'salary_month', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']

In [7]:
#emp_id|salary_month|amount
# spark dataframes are IMMUTABLE
req_df.withColumnRenamed("salary_month","date")
print(req_df.columns)

['emp_id', 'salary_month', 'amount']

In [8]:
#emp_id|salary_month|amount
# spark dataframes are IMMUTABLE
req_df=req_df.withColumnRenamed("salary_month","date")
print(req_df.columns)

['emp_id', 'date', 'amount']

In [9]:
req_df.show(10)

+-------+----------+--------+
| emp_id|      date|  amount|
+-------+----------+--------+
|7087500|2024-09-25|    NULL|
|7087500|      NULL| 9370.35|
|   NULL|2024-11-24| 3679.19|
|7087500|2024-12-24|  7730.6|
|7087520|2020-02-19|14822.82|
|7087520|2020-03-20| 6668.04|
|7087520|2020-04-19|  5948.5|
|7087520|2020-05-19| 6760.61|
|7087520|2020-06-18|12243.51|
|7087520|2020-07-18| 3069.33|
+-------+----------+--------+
only showing top 10 rows

In [10]:
req_df.withColumnRenamed("date","Date").show(10)

+-------+----------+--------+
| emp_id|      Date|  amount|
+-------+----------+--------+
|7087500|2024-09-25|    NULL|
|7087500|      NULL| 9370.35|
|   NULL|2024-11-24| 3679.19|
|7087500|2024-12-24|  7730.6|
|7087520|2020-02-19|14822.82|
|7087520|2020-03-20| 6668.04|
|7087520|2020-04-19|  5948.5|
|7087520|2020-05-19| 6760.61|
|7087520|2020-06-18|12243.51|
|7087520|2020-07-18| 3069.33|
+-------+----------+--------+
only showing top 10 rows

In [11]:
req_df.show(10)

+-------+----------+--------+
| emp_id|      date|  amount|
+-------+----------+--------+
|7087500|2024-09-25|    NULL|
|7087500|      NULL| 9370.35|
|   NULL|2024-11-24| 3679.19|
|7087500|2024-12-24|  7730.6|
|7087520|2020-02-19|14822.82|
|7087520|2020-03-20| 6668.04|
|7087520|2020-04-19|  5948.5|
|7087520|2020-05-19| 6760.61|
|7087520|2020-06-18|12243.51|
|7087520|2020-07-18| 3069.33|
+-------+----------+--------+
only showing top 10 rows

In [12]:
s="abcd"
s.upper()
print(s)

abcd

In [13]:
s="abcd"
s=s.upper()
print(s)

ABCD

In [14]:
req_df.withColumn("year", "NULL")

PySparkTypeError: [NOT_COLUMN] Argument `col` should be a Column, got str.

In [18]:
from pyspark.sql.functions import lit
req_df.withColumn("year", lit("NULL"))

DataFrame[emp_id: int, date: date, amount: double, year: string]

In [19]:
req_df.columns

['emp_id', 'date', 'amount']

In [20]:
from pyspark.sql.functions import lit
req_df = req_df.withColumn("year", lit("NULL"))
print(req_df.show(10))

+-------+----------+--------+----+
| emp_id|      date|  amount|year|
+-------+----------+--------+----+
|7087500|2024-09-25|    NULL|NULL|
|7087500|      NULL| 9370.35|NULL|
|   NULL|2024-11-24| 3679.19|NULL|
|7087500|2024-12-24|  7730.6|NULL|
|7087520|2020-02-19|14822.82|NULL|
|7087520|2020-03-20| 6668.04|NULL|
|7087520|2020-04-19|  5948.5|NULL|
|7087520|2020-05-19| 6760.61|NULL|
|7087520|2020-06-18|12243.51|NULL|
|7087520|2020-07-18| 3069.33|NULL|
+-------+----------+--------+----+
only showing top 10 rows

None

In [22]:
from pyspark.sql.functions import year
req_df = req_df.withColumn("year", year("date"))
print(req_df.show(10))

+-------+----------+--------+----+
| emp_id|      date|  amount|year|
+-------+----------+--------+----+
|7087500|2024-09-25|    NULL|2024|
|7087500|      NULL| 9370.35|NULL|
|   NULL|2024-11-24| 3679.19|2024|
|7087500|2024-12-24|  7730.6|2024|
|7087520|2020-02-19|14822.82|2020|
|7087520|2020-03-20| 6668.04|2020|
|7087520|2020-04-19|  5948.5|2020|
|7087520|2020-05-19| 6760.61|2020|
|7087520|2020-06-18|12243.51|2020|
|7087520|2020-07-18| 3069.33|2020|
+-------+----------+--------+----+
only showing top 10 rows

None

In [23]:
from pyspark.sql.functions import year, col
req_df = req_df.withColumn("year", year(col("date")))
print(req_df.show(10))

+-------+----------+--------+----+
| emp_id|      date|  amount|year|
+-------+----------+--------+----+
|7087500|2024-09-25|    NULL|2024|
|7087500|      NULL| 9370.35|NULL|
|   NULL|2024-11-24| 3679.19|2024|
|7087500|2024-12-24|  7730.6|2024|
|7087520|2020-02-19|14822.82|2020|
|7087520|2020-03-20| 6668.04|2020|
|7087520|2020-04-19|  5948.5|2020|
|7087520|2020-05-19| 6760.61|2020|
|7087520|2020-06-18|12243.51|2020|
|7087520|2020-07-18| 3069.33|2020|
+-------+----------+--------+----+
only showing top 10 rows

None

In [24]:
from pyspark.sql.functions import year, col
req_df.withColumn("date", year(col("date"))).show(10)

+-------+----+--------+----+
| emp_id|date|  amount|year|
+-------+----+--------+----+
|7087500|2024|    NULL|2024|
|7087500|NULL| 9370.35|NULL|
|   NULL|2024| 3679.19|2024|
|7087500|2024|  7730.6|2024|
|7087520|2020|14822.82|2020|
|7087520|2020| 6668.04|2020|
|7087520|2020|  5948.5|2020|
|7087520|2020| 6760.61|2020|
|7087520|2020|12243.51|2020|
|7087520|2020| 3069.33|2020|
+-------+----+--------+----+
only showing top 10 rows

In [25]:
req_df.count()

50

In [26]:
req_df.columns

['emp_id', 'date', 'amount', 'year']

In [28]:
req_df.filter(col("date")=="2024").show()

+------+----+------+----+
|emp_id|date|amount|year|
+------+----+------+----+
+------+----+------+----+

In [30]:
req_df.dtypes

[('emp_id', 'int'), ('date', 'date'), ('amount', 'double'), ('year', 'int')]

In [31]:
req_df.show(10)

+-------+----------+--------+----+
| emp_id|      date|  amount|year|
+-------+----------+--------+----+
|7087500|2024-09-25|    NULL|2024|
|7087500|      NULL| 9370.35|NULL|
|   NULL|2024-11-24| 3679.19|2024|
|7087500|2024-12-24|  7730.6|2024|
|7087520|2020-02-19|14822.82|2020|
|7087520|2020-03-20| 6668.04|2020|
|7087520|2020-04-19|  5948.5|2020|
|7087520|2020-05-19| 6760.61|2020|
|7087520|2020-06-18|12243.51|2020|
|7087520|2020-07-18| 3069.33|2020|
+-------+----------+--------+----+
only showing top 10 rows

In [32]:
req_df.filter(col("year")==2024).show()

+-------+----------+-------+----+
| emp_id|      date| amount|year|
+-------+----------+-------+----+
|7087500|2024-09-25|   NULL|2024|
|   NULL|2024-11-24|3679.19|2024|
|7087500|2024-12-24| 7730.6|2024|
+-------+----------+-------+----+

In [33]:
req_df.filter((col("year")==2024) & (col("amount").isNull())).show()

+-------+----------+------+----+
| emp_id|      date|amount|year|
+-------+----------+------+----+
|7087500|2024-09-25|  NULL|2024|
+-------+----------+------+----+

In [34]:
print(dir(req_df.amount))

['__add__', '__and__', '__bool__', '__class__', '__contains__', '__delattr__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__invert__', '__iter__', '__le__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '_asc_doc', '_asc_nulls_first_doc', '_asc_nulls_last_doc', '_bitwiseAND_doc', '_bitwiseOR_doc', '_bitwiseXOR_doc', '_contains_doc', '_desc_doc', '_desc_nulls_first_doc', '_desc_nulls_last_doc', '_endswith_doc', '_eqNullSafe_doc', '_isNotNull_doc', '_isNull_doc', '_jc', '_startswith_doc', 'alias', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'astype', 'between', 'bitwiseAND', 'bitwiseOR', 'bitwiseXOR', 'cast', 'contains', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'dropFields', 'endswith', 'eqNullSafe', 'getField', 'getItem', 'ilike', 'isNotNull', 'isNull', 'isin', 'like', 'name', 'otherwise', 'over', 'rlike', 'startswith', 'substr', 'when', 'withField']

In [35]:
req_df.filter((col("year")==2024) & (col("amount").isNotNull())).show()

+-------+----------+-------+----+
| emp_id|      date| amount|year|
+-------+----------+-------+----+
|   NULL|2024-11-24|3679.19|2024|
|7087500|2024-12-24| 7730.6|2024|
+-------+----------+-------+----+

In [36]:
req_df.filter((col("year").isin(2024,2021)) & (col("amount").isNotNull())).show()

+-------+----------+--------+----+
| emp_id|      date|  amount|year|
+-------+----------+--------+----+
|   NULL|2024-11-24| 3679.19|2024|
|7087500|2024-12-24|  7730.6|2024|
|7087520|2021-01-14|11684.05|2021|
|7087520|2021-02-13|13201.85|2021|
|7087520|2021-03-15|  5000.9|2021|
|7087520|2021-04-14| 7511.35|2021|
|7087520|2021-05-14|11958.64|2021|
|7087520|2021-06-13| 3903.62|2021|
|7087520|2021-07-13| 5822.87|2021|
|7087520|2021-08-12| 9035.41|2021|
|7087520|2021-09-11| 5094.17|2021|
|7087520|2021-10-11| 9397.57|2021|
|7087520|2021-11-10|12942.52|2021|
|7087520|2021-12-10| 4074.86|2021|
+-------+----------+--------+----+