In [3]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
print(df)

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [4]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 1 row

In [ ]:
df = spark.createDataFrame(pandas_df)
print(df)

In [5]:
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
print(df)
print(df.show())

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

None

In [6]:
pandas_df = pd.DataFrame({
    'a': [1, 2, 3,4],
    'b': [2., 3., 4.,5.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
print(df)
print(df.show())

ValueError: All arrays must be of the same length

In [7]:
pandas_df = pd.DataFrame({
    'a': pd.Series([1, 2, 3,4]),
    'b': pd.Series([2., 3., 4.,5.]),
    'c': pd.Series(['string1', 'string2', 'string3']),
    'd': pd.Series([date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)]),
    'e': pd.Series([datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)])
})
df = spark.createDataFrame(pandas_df)
print(df)
print(df.show())

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
|  4|5.0|   NULL|      NULL|               NULL|
+---+---+-------+----------+-------------------+

None

In [8]:
print(pandas_df)

   a    b        c           d                   e
0  1  2.0  string1  2000-01-01 2000-01-01 12:00:00
1  2  3.0  string2  2000-02-01 2000-01-02 12:00:00
2  3  4.0  string3  2000-03-01 2000-01-03 12:00:00
3  4  5.0      NaN         NaN                 NaT

In [9]:
pandas_df = pd.DataFrame({
    'a': pd.Series([1, 2, 3,4]),
    'b': pd.Series([2., 3., 4.]),
    'c': pd.Series(['string1', 'string2', 'string3']),
    'd': pd.Series([date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)]),
    'e': pd.Series([datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)])
})
df = spark.createDataFrame(pandas_df)
print(df)
print(df.show())

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
+---+----+-------+----------+-------------------+
|  a|   b|      c|         d|                  e|
+---+----+-------+----------+-------------------+
|  1| 2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2| 3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3| 4.0|string3|2000-03-01|2000-01-03 12:00:00|
|  4|NULL|   NULL|      NULL|               NULL|
+---+----+-------+----------+-------------------+

None

In [10]:
df.b

Column<'b'>

In [11]:
print(dir(df.b))

['__add__', '__and__', '__bool__', '__class__', '__contains__', '__delattr__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__invert__', '__iter__', '__le__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '_asc_doc', '_asc_nulls_first_doc', '_asc_nulls_last_doc', '_bitwiseAND_doc', '_bitwiseOR_doc', '_bitwiseXOR_doc', '_contains_doc', '_desc_doc', '_desc_nulls_first_doc', '_desc_nulls_last_doc', '_endswith_doc', '_eqNullSafe_doc', '_isNotNull_doc', '_isNull_doc', '_jc', '_startswith_doc', 'alias', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'astype', 'between', 'bitwiseAND', 'bitwiseOR', 'bitwiseXOR', 'cast', 'contains', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'dropFields', 'endswith', 'eqNullSafe', 'getField', 'getItem', 'ilike', 'isNotNull', 'isNull', 'isin', 'like', 'name', 'otherwise', 'over', 'rlike', 'startswith', 'substr', 'when', 'withField']

In [12]:
df.select("b")

DataFrame[b: double]

In [13]:
df_b = df.select("b")
df_col_b = df.b
print(dir(df_b))
print("*"*20)
print(dir(df_col_b))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'agg', 'alias', 'approxQuantile', 'b', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']
********************
['__add__', '__and__', '__bool__', '__class__', '__contains__', '__delattr__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__invert__', '__iter__', '__le__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '_asc_doc', '_asc_nulls_first_doc', '_asc_nulls_last_doc', '_bitwiseAND_doc', '_bitwiseOR_doc', '_bitwiseXOR_doc', '_contains_doc', '_desc_doc', '_desc_nulls_first_doc', '_desc_nulls_last_doc', '_endswith_doc', '_eqNullSafe_doc', '_isNotNull_doc', '_isNull_doc', '_jc', '_startswith_doc', 'alias', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'astype', 'between', 'bitwiseAND', 'bitwiseOR', 'bitwiseXOR', 'cast', 'contains', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'dropFields', 'endswith', 'eqNullSafe', 'getField', 'getItem', 'ilike', 'isNotNull', 'isNull', 'isin', 'like', 'name', 'otherwise', 'over', 'rlike', 'startswith', 'substr', 'when', 'withField']

In [14]:
df.select("b").count()

4

In [15]:
import numpy as np
print(1+2+np.nan)

nan

In [17]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))

nan
nan

In [18]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1)

nan
nan
0    1.0
1    2.0
2    NaN
dtype: float64

In [19]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())

nan
nan
3.0

In [22]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)

nan
nan
3.0
float64

In [24]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1)

nan
nan
3.0
float64
     a
0  1.0
1  2.0
2  NaN

In [25]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())

nan
nan
3.0
float64
3.0

In [26]:
df1.a

0    1.0
1    2.0
2    NaN
Name: a, dtype: float64

In [27]:
print(type(df1.a))

<class 'pandas.core.series.Series'>

In [28]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)

nan
nan
3.0
float64
3.0
DataFrame[a: double]

In [29]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)
print(sdf.show())

nan
nan
3.0
float64
3.0
DataFrame[a: double]
+----+
|   a|
+----+
| 1.0|
| 2.0|
|NULL|
+----+

None

In [30]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)
print(sdf.show(vertical=True))

nan
nan
3.0
float64
3.0
DataFrame[a: double]
-RECORD 0---
 a   | 1.0
-RECORD 1---
 a   | 2.0
-RECORD 2---
 a   | NULL

None

In [31]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)
sdf.show(vertical=True)

nan
nan
3.0
float64
3.0
DataFrame[a: double]
-RECORD 0---
 a   | 1.0
-RECORD 1---
 a   | 2.0
-RECORD 2---
 a   | NULL

In [32]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)
sdf.show(1, vertical=True)

nan
nan
3.0
float64
3.0
DataFrame[a: double]
-RECORD 0--
 a   | 1.0
only showing top 1 row

In [33]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan]), "b":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)
sdf.show(2,vertical=True)

nan
nan
3.0
float64
3.0
DataFrame[a: double, b: double]
-RECORD 0--
 a   | 1.0
 b   | 1.0
-RECORD 1--
 a   | 2.0
 b   | 2.0
only showing top 2 rows

In [34]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan]), "b":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf.show())

nan
nan
3.0
float64
3.0
+----+----+
|   a|   b|
+----+----+
| 1.0| 1.0|
| 2.0| 2.0|
|NULL|NULL|
+----+----+

None

In [35]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan]), "b":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf.show())
sdf.transform?

nan
nan
3.0
float64
3.0
+----+----+
|   a|   b|
+----+----+
| 1.0| 1.0|
| 2.0| 2.0|
|NULL|NULL|
+----+----+

None

Signature:
sdf.transform(
    func: Callable[..., ForwardRef('DataFrame')],
    *args: Any,
    **kwargs: Any,
) -> 'DataFrame'
Docstring:
Returns a new :class:`DataFrame`. Concise syntax for chaining custom transformations.

.. versionadded:: 3.0.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
func : function
    a function that takes and returns a :class:`DataFrame`.
*args
    Positional arguments to pass to func.

    .. versionadded:: 3.3.0
**kwargs
    Keyword arguments to pass to func.

    .. versionadded:: 3.3.0

Returns
-------
:class:`DataFrame`
    Transformed DataFrame.

Examples
--------
>>> from pyspark.sql.functions import col
>>> df = spark.createDataFrame([(1, 1.0), (2, 2.0)], ["int", "float"])
>>> def cast_all_to_int(input_df):
...     return input_df.select([col(col_name).cast("int") for col_name in input_df.columns])
...
>>> def sort_columns_asc(input_df):
...     return input_df.select(*sorted(input_df.columns))
...
>>> df.transform(cast_all_to_int).transform(sort_columns_asc).show()
+-----+---+
|float|int|
+-----+---+
|    1|  1|
|    2|  2|
+-----+---+

>>> def add_n(input_df, n):
...     return input_df.select([(col(col_name) + n).alias(col_name)
...                             for col_name in input_df.columns])
>>> df.transform(add_n, 1).transform(add_n, n=10).show()
+---+-----+
|int|float|
+---+-----+
| 12| 12.0|
| 13| 13.0|
+---+-----+
File:      c:\users\navya\anaconda3\lib\site-packages\pyspark\sql\dataframe.py
Type:      method

In [42]:
from pyspark.sql.functions import col
print(col)
print(col("col1"))

<function col at 0x0000025A6BA04400>
Column<'col1'>

In [38]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan]), "b":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf.show())
def convert(data):
    print("converted")
    print(data)
    return data
sdf.transform(convert)

nan
nan
3.0
float64
3.0
+----+----+
|   a|   b|
+----+----+
| 1.0| 1.0|
| 2.0| 2.0|
|NULL|NULL|
+----+----+

None
converted
DataFrame[a: double, b: double]

DataFrame[a: double, b: double]

In [40]:
import numpy as np
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
def convert(data):
    print("converted")
    print(data)
    return data
sdf.transform(convert)

converted
DataFrame[a: double, b: double]

DataFrame[a: double, b: double]

In [2]:
import numpy as np
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf)

DataFrame[a: bigint, b: double]

In [3]:
sdf.show()

+---+----+
|  a|   b|
+---+----+
|  1| 1.0|
|  2| 2.0|
|  3|NULL|
+---+----+

In [4]:
sdf.a

Column<'a'>

In [5]:
sdf.a.cast("float")

Column<'CAST(a AS FLOAT)'>

In [6]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)

[('a', 'bigint'), ('b', 'double')]

In [7]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a.cast("double")
print(sdf.dtypes)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]

In [8]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("double")
print(sdf.dtypes)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]

In [9]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
print(sdf.dtypes)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]

In [10]:
print(dir(sdf))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'a', 'agg', 'alias', 'approxQuantile', 'b', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']

In [11]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
print(sdf.dtypes)
sdf.drop("a")
print(sdf)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]
DataFrame[a: bigint, b: double]

In [12]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
print(sdf.dtypes)
sdf.drop?
print(sdf)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]
DataFrame[a: bigint, b: double]

Signature: sdf.drop(*cols: 'ColumnOrName') -> 'DataFrame'
Docstring:
Returns a new :class:`DataFrame` without specified columns.
This is a no-op if the schema doesn't contain the given column name(s).

.. versionadded:: 1.4.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
cols: str or :class:`Column`
    a name of the column, or the :class:`Column` to drop

Returns
-------
:class:`DataFrame`
    DataFrame without given columns.

Notes
-----
When an input is a column name, it is treated literally without further interpretation.
Otherwise, will try to match the equivalent expression.
So that dropping column by its name `drop(colName)` has different semantic with directly
dropping the column `drop(col(colName))`.

Examples
--------
>>> from pyspark.sql import Row
>>> from pyspark.sql.functions import col, lit
>>> df = spark.createDataFrame(
...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
>>> df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])

>>> df.drop('age').show()
+-----+
| name|
+-----+
|  Tom|
|Alice|
|  Bob|
+-----+
>>> df.drop(df.age).show()
+-----+
| name|
+-----+
|  Tom|
|Alice|
|  Bob|
+-----+

Drop the column that joined both DataFrames on.

>>> df.join(df2, df.name == df2.name, 'inner').drop('name').sort('age').show()
+---+------+
|age|height|
+---+------+
| 14|    80|
| 16|    85|
+---+------+

>>> df3 = df.join(df2)
>>> df3.show()
+---+-----+------+----+
|age| name|height|name|
+---+-----+------+----+
| 14|  Tom|    80| Tom|
| 14|  Tom|    85| Bob|
| 23|Alice|    80| Tom|
| 23|Alice|    85| Bob|
| 16|  Bob|    80| Tom|
| 16|  Bob|    85| Bob|
+---+-----+------+----+

Drop two column by the same name.

>>> df3.drop("name").show()
+---+------+
|age|height|
+---+------+
| 14|    80|
| 14|    85|
| 23|    80|
| 23|    85|
| 16|    80|
| 16|    85|
+---+------+

Can not drop col('name') due to ambiguous reference.

>>> df3.drop(col("name")).show()
Traceback (most recent call last):
...
pyspark.errors.exceptions.captured.AnalysisException: [AMBIGUOUS_REFERENCE] Reference...

>>> df4 = df.withColumn("a.b.c", lit(1))
>>> df4.show()
+---+-----+-----+
|age| name|a.b.c|
+---+-----+-----+
| 14|  Tom|    1|
| 23|Alice|    1|
| 16|  Bob|    1|
+---+-----+-----+

>>> df4.drop("a.b.c").show()
+---+-----+
|age| name|
+---+-----+
| 14|  Tom|
| 23|Alice|
| 16|  Bob|
+---+-----+

Can not find a column matching the expression "a.b.c".

>>> df4.drop(col("a.b.c")).show()
+---+-----+-----+
|age| name|a.b.c|
+---+-----+-----+
| 14|  Tom|    1|
| 23|Alice|    1|
| 16|  Bob|    1|
+---+-----+-----+
File:      c:\users\navya\anaconda3\lib\site-packages\pyspark\sql\dataframe.py
Type:      method

In [13]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
print(sdf.dtypes)
sdf.drop("a").show()
print(sdf)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]
+----+
|   b|
+----+
| 1.0|
| 2.0|
|NULL|
+----+

DataFrame[a: bigint, b: double]

In [14]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
sdf.c=pd.Series([1,2,3])
print(sdf.show())

[('a', 'bigint'), ('b', 'double')]
+---+----+
|  a|   b|
+---+----+
|  1| 1.0|
|  2| 2.0|
|  3|NULL|
+---+----+

None

In [15]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
sdf.c=pd.Series([1,2,3])
print(sdf.show())
print(dir(sdf))

[('a', 'bigint'), ('b', 'double')]
+---+----+
|  a|   b|
+---+----+
|  1| 1.0|
|  2| 2.0|
|  3|NULL|
+---+----+

None
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'a', 'agg', 'alias', 'approxQuantile', 'b', 'c', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder.getOrCreate()

In [2]:
spark.stop()

In [8]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder \
    .appName("JobTracking") \
    .config("spark.ui.port", "4040") \
    .getOrCreate()

In [9]:
spark.stop()

In [10]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder \
    .appName("JobTracking") \
    .config("spark.ui.port", "4041") \
    .getOrCreate()

In [11]:
df_1cr = spark.read.csv("data\salary_1cr.csv", inferSchema=True, header=True)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Navya\AppData\Local\Temp\ipykernel_6684\2161328399.py:1: SyntaxWarning: invalid escape sequence '\s'
  df_1cr = spark.read.csv("data\salary_1cr.csv", inferSchema=True, header=True)

In [12]:
df_1cr

DataFrame[salary_id: int, emp_id: int, salary_month: date, amount: double]

In [13]:
df_1cr.count()

10000000

In [15]:
df_1cr.columns

['salary_id', 'emp_id', 'salary_month', 'amount']

In [19]:
#create a one more df with some columns
df_emp_id_amount = df_1cr.select("emp_id","salary_month")
df_emp_id_amount.show(2)

+--------+------------+
|  emp_id|salary_month|
+--------+------------+
|39470031|  2020-10-16|
|39470031|  2020-11-15|
+--------+------------+
only showing top 2 rows

In [ ]:
#create a one more df with some columns
df_emp_id_amount = df_1cr.select("emp_id","salary_month")
print(dir(df_emp_id_amount))

In [21]:
# the standardise way pyspark sugesting is using col function
from pyspark.sql.functions import col
df_emp_id_amount = df_1cr.select(col("emp_id"),col("salary_month"))
print(df_emp_id_amount.show(3))

+--------+------------+
|  emp_id|salary_month|
+--------+------------+
|39470031|  2020-10-16|
|39470031|  2020-11-15|
|39470031|  2020-12-15|
+--------+------------+
only showing top 3 rows

None

In [22]:
# ALIAS: change the column name if you dont like
df_emp_id_amount = df_1cr.select(col("emp_id"),col("salary_month").alias('month'))
print(df_emp_id_amount.show(3))

+--------+----------+
|  emp_id|     month|
+--------+----------+
|39470031|2020-10-16|
|39470031|2020-11-15|
|39470031|2020-12-15|
+--------+----------+
only showing top 3 rows

None

In [23]:
#Filter
df_39470031 = df_1cr.filter(col("emp_id")==39470031)
print(df_39470031.count())

52

In [27]:
#Filter 7087500 employee january month results
from pyspark.sql.functions import col, month
df_sal50 = spark.read.csv('data\\salary50.txt',header=True, inferSchema=True)
df_7087500 = df_sal50.filter((col("emp_id")==7087500) & (month(col("salary_month"))==9))
print(df_7087500.count())
print(df_7087500.show())

1
+---------+-------+------------+------+
|salary_id| emp_id|salary_month|amount|
+---------+-------+------------+------+
|  4504017|7087500|  2024-09-25|  NULL|
+---------+-------+------------+------+

None

In [28]:
#Filter 7087500 employee january month results
#isin?...  9,12
from pyspark.sql.functions import col, month
df_sal50 = spark.read.csv('data\\salary50.txt',header=True, inferSchema=True)
df_7087500 = df_sal50.filter((col("emp_id")==7087500) & (month(col("salary_month")).isin(9,12)))
print(df_7087500.count())
print(df_7087500.show())

2
+---------+-------+------------+------+
|salary_id| emp_id|salary_month|amount|
+---------+-------+------------+------+
|  4504017|7087500|  2024-09-25|  NULL|
|     NULL|7087500|  2024-12-24|7730.6|
+---------+-------+------------+------+

None

In [29]:
#Filter 7087500 employee january month results
#isin?...  9,12
from pyspark.sql.functions import col, month
df_sal50 = spark.read.csv('data\\salary50.txt',header=True, inferSchema=True)
df_7087500 = df_sal50.filter((col("emp_id")==7087500) & (month(col("salary_month")).isin(9,12)) & col('salary_id').isNull())
print(df_7087500.count())
print(df_7087500.show())

1
+---------+-------+------------+------+
|salary_id| emp_id|salary_month|amount|
+---------+-------+------------+------+
|     NULL|7087500|  2024-12-24|7730.6|
+---------+-------+------------+------+

None

In [30]:
df_1cr = spark.read.csv("data\\salary_1cr.csv", inferSchema=True, header=True)

In [32]:
# rename the columns
print(df_1cr)

DataFrame[salary_id: int, emp_id: int, salary_month: date, amount: double]

In [34]:
df_1cr.withColumnRenamed('salary_id',"sal_id")
print(df_1cr)

DataFrame[salary_id: int, emp_id: int, salary_month: date, amount: double]

In [35]:
df_1cr.withColumnRenamed('salary_id',"sal_id")
print(df_1cr.columns) # dolumns are not actions

['salary_id', 'emp_id', 'salary_month', 'amount']

In [36]:
df_1cr.withColumnRenamed('salary_id',"sal_id")
df_1cr.show(3) # show is an actions

+---------+--------+------------+-------+
|salary_id|  emp_id|salary_month| amount|
+---------+--------+------------+-------+
|  9505409|39470031|  2020-10-16|7710.72|
|  9505410|39470031|  2020-11-15|3114.26|
|  9505411|39470031|  2020-12-15|10102.4|
+---------+--------+------------+-------+
only showing top 3 rows

In [37]:
df_1cr.withColumnRenamed('emp_id',"empid")
df_1cr.show(3) # show is an actions

+---------+--------+------------+-------+
|salary_id|  emp_id|salary_month| amount|
+---------+--------+------------+-------+
|  9505409|39470031|  2020-10-16|7710.72|
|  9505410|39470031|  2020-11-15|3114.26|
|  9505411|39470031|  2020-12-15|10102.4|
+---------+--------+------------+-------+
only showing top 3 rows

## the transformations will not change the existing dataframe. The SPRAK DATAFRAME IS IMMUTABLE OBJECT TYPE

In [38]:
df_1cr_renamed = df_1cr.withColumnRenamed('emp_id',"empid")
df_1cr_renamed.show(3) # show is an actions

+---------+--------+------------+-------+
|salary_id|   empid|salary_month| amount|
+---------+--------+------------+-------+
|  9505409|39470031|  2020-10-16|7710.72|
|  9505410|39470031|  2020-11-15|3114.26|
|  9505411|39470031|  2020-12-15|10102.4|
+---------+--------+------------+-------+
only showing top 3 rows

## ALL TRNASFORMATIONS RETURNS THE NEW DATAFRAME

### withColumn
#### helps us to create new column or change the existing column

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [5]:
spark = SparkSession.builder.getOrCreate()

In [6]:
df = spark.read.csv('data\\salary_1cr.csv', header=True, inferSchema=True)

In [7]:
df.columns

['salary_id', 'emp_id', 'salary_month', 'amount']

In [8]:
from pyspark.sql.functions import year

In [9]:
df = df.withColumn("YEAR",year(df.salary_month))

In [10]:
df.columns

['salary_id', 'emp_id', 'salary_month', 'amount', 'YEAR']

In [19]:
df.show(10)

+---------+--------+------------+--------+----+
|salary_id|  emp_id|salary_month|  amount|YEAR|
+---------+--------+------------+--------+----+
|  9505409|39470031|  2020-10-16| 7710.72|2020|
|  9505410|39470031|  2020-11-15| 3114.26|2020|
|  9505411|39470031|  2020-12-15| 10102.4|2020|
|  9505412|39470031|  2021-01-14|13129.35|2020|
|  9505413|39470031|  2021-02-13|  5642.5|2020|
|  9505414|39470031|  2021-03-15|  7808.9|2020|
|  9505415|39470031|  2021-04-14|  5634.8|2020|
|  9505416|39470031|  2021-05-14|  9629.5|2020|
|  9505417|39470031|  2021-06-13| 14030.1|2020|
|  9505418|39470031|  2021-07-13|  6550.5|2020|
+---------+--------+------------+--------+----+
only showing top 10 rows

In [13]:
df = df.withColumn("YEAR","2020")

PySparkTypeError: [NOT_COLUMN] Argument `col` should be a Column, got str.

In [18]:
from pyspark.sql.functions import lit
df = df.withColumn("YEAR",lit("2020"))
print(df.show(10))

+---------+--------+------------+--------+----+
|salary_id|  emp_id|salary_month|  amount|YEAR|
+---------+--------+------------+--------+----+
|  9505409|39470031|  2020-10-16| 7710.72|2020|
|  9505410|39470031|  2020-11-15| 3114.26|2020|
|  9505411|39470031|  2020-12-15| 10102.4|2020|
|  9505412|39470031|  2021-01-14|13129.35|2020|
|  9505413|39470031|  2021-02-13|  5642.5|2020|
|  9505414|39470031|  2021-03-15|  7808.9|2020|
|  9505415|39470031|  2021-04-14|  5634.8|2020|
|  9505416|39470031|  2021-05-14|  9629.5|2020|
|  9505417|39470031|  2021-06-13| 14030.1|2020|
|  9505418|39470031|  2021-07-13|  6550.5|2020|
+---------+--------+------------+--------+----+
only showing top 10 rows

None

In [17]:
from pyspark.sql.functions import lit
df = df.withColumn("YEAR",lit(None))
print(df.show(10))

+---------+--------+------------+--------+----+
|salary_id|  emp_id|salary_month|  amount|YEAR|
+---------+--------+------------+--------+----+
|  9505409|39470031|  2020-10-16| 7710.72|NULL|
|  9505410|39470031|  2020-11-15| 3114.26|NULL|
|  9505411|39470031|  2020-12-15| 10102.4|NULL|
|  9505412|39470031|  2021-01-14|13129.35|NULL|
|  9505413|39470031|  2021-02-13|  5642.5|NULL|
|  9505414|39470031|  2021-03-15|  7808.9|NULL|
|  9505415|39470031|  2021-04-14|  5634.8|NULL|
|  9505416|39470031|  2021-05-14|  9629.5|NULL|
|  9505417|39470031|  2021-06-13| 14030.1|NULL|
|  9505418|39470031|  2021-07-13|  6550.5|NULL|
+---------+--------+------------+--------+----+
only showing top 10 rows

None

In [21]:
# doe the withColumn handles the NULL values?
df_50null = spark.read.csv("data\\salary50.txt", header=True, inferSchema=True)
df_50null.show(10)

+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|    NULL|
|  4504018|7087500|        NULL| 9370.35|
|  4504019|   NULL|  2024-11-24| 3679.19|
|     NULL|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
|  4504022|7087520|  2020-03-20| 6668.04|
|  4504023|7087520|  2020-04-19|  5948.5|
|  4504024|7087520|  2020-05-19| 6760.61|
|  4504025|7087520|  2020-06-18|12243.51|
|  4504026|7087520|  2020-07-18| 3069.33|
+---------+-------+------------+--------+
only showing top 10 rows

In [22]:
df_50null = df_50null.withColumn("YEAR", year(col('salary_month')))
print(df_50null.show(10))

+---------+-------+------------+--------+----+
|salary_id| emp_id|salary_month|  amount|YEAR|
+---------+-------+------------+--------+----+
|  4504017|7087500|  2024-09-25|    NULL|2024|
|  4504018|7087500|        NULL| 9370.35|NULL|
|  4504019|   NULL|  2024-11-24| 3679.19|2024|
|     NULL|7087500|  2024-12-24|  7730.6|2024|
|  4504021|7087520|  2020-02-19|14822.82|2020|
|  4504022|7087520|  2020-03-20| 6668.04|2020|
|  4504023|7087520|  2020-04-19|  5948.5|2020|
|  4504024|7087520|  2020-05-19| 6760.61|2020|
|  4504025|7087520|  2020-06-18|12243.51|2020|
|  4504026|7087520|  2020-07-18| 3069.33|2020|
+---------+-------+------------+--------+----+
only showing top 10 rows

None