In [10]:
import os
import sys
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
from pyspark.sql import SparkSession
try:
    spark = SparkSession.builder.getOrCreate()
    spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
    pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
    df = spark.createDataFrame(pandas_df)
    print(df)
    print(df.count())
except Exception as err:
    print(err)
finally:
    spark.stop()

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
3

In [11]:
import os
import sys
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
from pyspark.sql import SparkSession
try:
    spark = SparkSession.builder.getOrCreate()
    spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
    pandas_df = pd.DataFrame({
    'a': [1, 2, 3,4],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
    df = spark.createDataFrame(pandas_df)
    print(df)
    print(df.count())
except Exception as err:
    print(err)
finally:
    spark.stop()

All arrays must be of the same length

In [12]:
import os
import sys
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
from pyspark.sql import SparkSession
try:
    spark = SparkSession.builder.getOrCreate()
    spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
    pandas_df = pd.DataFrame({
    'a': pd.Series([1, 2, 3,4]),
    'b': pd.Series([2., 3., 4.]),
    'c': pd.Series(['string1', 'string2', 'string3']),
    'd': pd.Series([date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)]),
    'e': pd.Series([datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)])
})
    df = spark.createDataFrame(pandas_df)
    print(df)
    print(df.count())
except Exception as err:
    print(err)
finally:
    spark.stop()

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
4

In [13]:
print("hello")

hello

In [15]:
import os
import sys
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
from pyspark.sql import SparkSession
try:
    spark = SparkSession.builder.getOrCreate()
    spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "false")
    df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
    print(df)
    print(df.count())
except Exception as err:
    print(err)
finally:
    spark.stop()

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
An error occurred while calling o358.count.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0) (DESKTOP-1BI4E7H executor driver): org.apache.spark.SparkException: Python worker exited unexpectedly (crashed)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:612)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:594)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:789)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:766)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.hashAgg_doAggregateWithoutKey_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:842)
Caused by: java.io.EOFException
	at java.base/java.io.DataInputStream.readInt(DataInputStream.java:398)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:774)
	... 25 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
Caused by: org.apache.spark.SparkException: Python worker exited unexpectedly (crashed)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:612)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:594)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:789)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:766)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.hashAgg_doAggregateWithoutKey_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:140)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:104)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:54)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:842)
Caused by: java.io.EOFException
	at java.base/java.io.DataInputStream.readInt(DataInputStream.java:398)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:774)
	... 25 more

In [16]:
#observe the last row of the result. it's not considering as np.nan.
import os
import sys
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
from pyspark.sql import SparkSession
try:
    spark = SparkSession.builder.getOrCreate()
    spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
    pandas_df = pd.DataFrame({
    'a': pd.Series([1, 2, 3,4]),
    'b': pd.Series([2., 3., 4.]),
    'c': pd.Series(['string1', 'string2', 'string3']),
    'd': pd.Series([date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)]),
    'e': pd.Series([datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)])
})
    df = spark.createDataFrame(pandas_df)
    print(df)
    print(df.count())
    print(df.show())
    print(df.printSchema())
except Exception as err:
    print(err)
finally:
    spark.stop()

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
4
+---+----+-------+----------+-------------------+
|  a|   b|      c|         d|                  e|
+---+----+-------+----------+-------------------+
|  1| 2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2| 3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3| 4.0|string3|2000-03-01|2000-01-03 12:00:00|
|  4|NULL|   NULL|      NULL|               NULL|
+---+----+-------+----------+-------------------+

None
root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

None

In [17]:
print(df)

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [18]:
print(df.show(2))

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 2 rows

None

In [19]:
# if you want to make df it self to print the result, we can do some configuration changes. This is not 
#this is not suggestable in application level
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
df

+---+----+-------+----------+-------------------+
|  a|   b|      c|         d|                  e|
+---+----+-------+----------+-------------------+
|  1| 2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2| 3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3| 4.0|string3|2000-03-01|2000-01-03 12:00:00|
|  4|NULL|   NULL|      NULL|               NULL|
+---+----+-------+----------+-------------------+

In [20]:
df.show(1, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
only showing top 1 row

In [21]:
df.show(2, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
-RECORD 1------------------
 a   | 2
 b   | 3.0
 c   | string2
 d   | 2000-02-01
 e   | 2000-01-02 12:00:00
only showing top 2 rows

In [22]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 1 row

In [23]:
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
pandas_df = pd.DataFrame({
'a': pd.Series([1, 2, 3,4]),
'b': pd.Series([2., 3., 4.]),
'c': pd.Series(['string1', 'string2', 'string3']),
'd': pd.Series([date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)]),
'e': pd.Series([datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)])
})
df = spark.createDataFrame(pandas_df)
print(df)

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [24]:
print(df.columns)

['a', 'b', 'c', 'd', 'e']

In [25]:
print(df.dtypes)

[('a', 'bigint'), ('b', 'double'), ('c', 'string'), ('d', 'date'), ('e', 'timestamp')]

In [30]:
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
print(df)
print(df.count())

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
3

In [32]:
# schema argument.
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
print(df)
print(df.count())

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
3

In [33]:
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [34]:
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a string, b string, c string, d string, e string')
df

DataFrame[a: string, b: string, c: string, d: string, e: string]

In [35]:
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a double, b long, c string, d date, e timestamp')
df

PySparkTypeError: [CANNOT_ACCEPT_OBJECT_IN_TYPE] `DoubleType()` can not accept object `1` in type `int`.

In [37]:
# lets read it from text file
print(dir(spark.read))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_df', '_jreader', '_set_opts', '_spark', 'csv', 'format', 'jdbc', 'json', 'load', 'option', 'options', 'orc', 'parquet', 'schema', 'table', 'text']

In [42]:
df = spark.read.text("data\\salary50L.txt")
print(df)
print(df.show(3))

DataFrame[value: string]
+--------------------+
|               value|
+--------------------+
|salary_id,emp_id,...|
|4504017,7087500,2...|
|4504018,7087500,2...|
+--------------------+
only showing top 3 rows

None

In [39]:
# we can not pass header to it.
df = spark.read.text("data\\salary50L.txt", header=True)
print(df)

TypeError: DataFrameReader.text() got an unexpected keyword argument 'header'

In [43]:
df = spark.read.text(["data\\salary50L.txt","data\\salary50L.txt"])
print(df.count())
print(df.show())

10000002
+--------------------+
|               value|
+--------------------+
|salary_id,emp_id,...|
|4504017,7087500,2...|
|4504018,7087500,2...|
|4504019,7087500,2...|
|4504020,7087500,2...|
|4504021,7087520,2...|
|4504022,7087520,2...|
|4504023,7087520,2...|
|4504024,7087520,2...|
|4504025,7087520,2...|
|4504026,7087520,2...|
|4504027,7087520,2...|
|4504028,7087520,2...|
|4504029,7087520,2...|
|4504030,7087520,2...|
|4504031,7087520,2...|
|4504032,7087520,2...|
|4504033,7087520,2...|
|4504034,7087520,2...|
|4504035,7087520,2...|
+--------------------+
only showing top 20 rows

None

In [45]:
df = spark.read.text("data\\salary50L.txt", wholetext=True)
print(df.count())
print(df.show())

1

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "C:\Users\Navya\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Navya\AppData\Local\Temp\ipykernel_13448\2521556771.py", line 3, in <module>
    print(df.show())
          ^^^^^^^^^
  File "C:\Users\Navya\anaconda3\Lib\site-packages\pyspark\sql\dataframe.py", line 947, in show
    print(self._show_string(n, truncate, vertical))
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Navya\anaconda3\Lib\site-packages\pyspark\sql\dataframe.py", line 965, in _show_string
    return self._jdf.showString(n, 20, vertical)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Navya\anaconda3\Lib\site-packages\py4j\java_gateway.py", line 1322, in __call__
    return_value = get_return_value(
                   ^^^^^^^^^^^^^^^^^
  File "C:\Users\Navya\anaconda3\Lib\site-packages\pyspark\errors\exceptions\captured.py", line 179, in deco
    return f(*a, **kw)
           ^^^^^^^^^^^
  File "C:\Users\Navya\anaconda3\Lib\site-packages\py4j\protocol.py", line 326, in get_return_value
    raise Py4JJavaError(
py4j.protocol.Py4JJavaError: <exception str() failed>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Navya\anaconda3\Lib\site-packages\py4j\clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
                          ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Navya\anaconda3\Lib\socket.py", line 720, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Navya\anaconda3\Lib\site-packages\py4j\java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Navya\anaconda3\Lib\site-packages\py4j\clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving
ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "C:\Users\Navya\anaconda3\Lib\site-packages\py4j\clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
                          ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Navya\anaconda3\Lib\socket.py", line 720, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Navya\anaconda3\Lib\site-packages\py4j\java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Navya\anaconda3\Lib\site-packages\py4j\clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.text("data\\salary50.txt", wholetext=True)
print(df.count())
print(df.show())

1
+--------------------+
|               value|
+--------------------+
|salary_id,emp_id,...|
+--------------------+

None

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.text("data\\salary50.txt", wholetext=True)
print(df.count())
print(df.show())

1
+--------------------+
|               value|
+--------------------+
|salary_id,emp_id,...|
+--------------------+

None

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data\\salary50.txt",header=True, inferSchema=True)
print(df.count())
print(df.show())

50
+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|13714.43|
|  4504018|7087500|  2024-10-25| 9370.35|
|  4504019|7087500|  2024-11-24| 3679.19|
|  4504020|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
|  4504022|7087520|  2020-03-20| 6668.04|
|  4504023|7087520|  2020-04-19|  5948.5|
|  4504024|7087520|  2020-05-19| 6760.61|
|  4504025|7087520|  2020-06-18|12243.51|
|  4504026|7087520|  2020-07-18| 3069.33|
|  4504027|7087520|  2020-08-17|12849.55|
|  4504028|7087520|  2020-09-16|13361.52|
|  4504029|7087520|  2020-10-16| 5482.07|
|  4504030|7087520|  2020-11-15|12287.98|
|  4504031|7087520|  2020-12-15| 9247.67|
|  4504032|7087520|  2021-01-14|11684.05|
|  4504033|7087520|  2021-02-13|13201.85|
|  4504034|7087520|  2021-03-15|  5000.9|
|  4504035|7087520|  2021-04-14| 7511.35|
|  4504036|7087520|  2021-05-14|11958.64|
+---------+-------+------------+--------+
only showing top 20 rows

None

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data\\salary50.txt",header=True, inferSchema=True)
print(df.count())
print(df.show(5))

50
+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|    NULL|
|  4504018|7087500|        NULL| 9370.35|
|  4504019|   NULL|  2024-11-24| 3679.19|
|     NULL|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
+---------+-------+------------+--------+
only showing top 5 rows

None

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data\\salary50.txt",header=True, inferSchema=True, nullValue="0")
print(df.count())
print(df.show(5))

50
+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|    NULL|
|  4504018|7087500|        NULL| 9370.35|
|  4504019|   NULL|  2024-11-24| 3679.19|
|     NULL|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
+---------+-------+------------+--------+
only showing top 5 rows

None

In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data\\salary50.txt",header=True, inferSchema=True, nullValue="0")
print(df.count())
print(df.show(5))
print(df.dtypes)

50
+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|    NULL|
|  4504018|7087500|        NULL| 9370.35|
|  4504019|   NULL|  2024-11-24| 3679.19|
|     NULL|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
+---------+-------+------------+--------+
only showing top 5 rows

None
[('salary_id', 'int'), ('emp_id', 'int'), ('salary_month', 'date'), ('amount', 'double')]

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data\\salary50.txt",header=True, inferSchema=True, nullValue="0")
print(df.count())
print(df.show(5))
print(df.dtypes)