In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.window import Window
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data\\joins\\user_transactions.csv", header=True, inferSchema=True)
df.show()
df.printSchema()

+--------------+-------+------+---------+----------------+
|transaction_id|user_id|amount| location|transaction_time|
+--------------+-------+------+---------+----------------+
|           201|      1|   500|Hyderabad|10-03-2025 12:00|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|
|           204|      2|   250|  Chennai|10-03-2025 14:01|
|           205|      3|  1000| Banglore|10-03-2025 15:30|
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|
+--------------+-------+------+---------+----------------+

root
 |-- transaction_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- amount: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- transaction_time: string (nullable = true)

In [4]:
from pyspark.sql import functions
df.groupBy('user_id').agg(functions.sum('amount')).show()

+-------+-----------+
|user_id|sum(amount)|
+-------+-----------+
|      1|       1200|
|      3|       2500|
|      2|        450|
+-------+-----------+

In [10]:
window_spec = Window.partitionBy('user_id')
print(window_spec)

<pyspark.sql.window.WindowSpec object at 0x00000223498EFC20>

In [11]:
window_spec = Window.partitionBy('user_id')
print(dir(window_spec))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_jspec', 'orderBy', 'partitionBy', 'rangeBetween', 'rowsBetween']

In [12]:
df.orderBy('user_id').show()

+--------------+-------+------+---------+----------------+
|transaction_id|user_id|amount| location|transaction_time|
+--------------+-------+------+---------+----------------+
|           201|      1|   500|Hyderabad|10-03-2025 12:00|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|
|           204|      2|   250|  Chennai|10-03-2025 14:01|
|           205|      3|  1000| Banglore|10-03-2025 15:30|
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|
+--------------+-------+------+---------+----------------+

In [14]:
df.orderBy(col('user_id').desc()).show()

+--------------+-------+------+---------+----------------+
|transaction_id|user_id|amount| location|transaction_time|
+--------------+-------+------+---------+----------------+
|           205|      3|  1000| Banglore|10-03-2025 15:30|
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|
|           204|      2|   250|  Chennai|10-03-2025 14:01|
|           201|      1|   500|Hyderabad|10-03-2025 12:00|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|
+--------------+-------+------+---------+----------------+

In [15]:
w = Window.partitionBy('user_id').orderBy('amount')
print(w)

<pyspark.sql.window.WindowSpec object at 0x000002234AB5B800>

In [16]:
w = Window.partitionBy('user_id').orderBy('amount')
w.show()

AttributeError: 'WindowSpec' object has no attribute 'show'

In [17]:
w = Window.partitionBy('user_id').orderBy('amount')
df.withColumn('row_numer', functions.row_number().over(w)).show()

+--------------+-------+------+---------+----------------+---------+
|transaction_id|user_id|amount| location|transaction_time|row_numer|
+--------------+-------+------+---------+----------------+---------+
|           201|      1|   500|Hyderabad|10-03-2025 12:00|        1|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|        2|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|        1|
|           204|      2|   250|  Chennai|10-03-2025 14:01|        2|
|           205|      3|  1000| Banglore|10-03-2025 15:30|        1|
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|        2|
+--------------+-------+------+---------+----------------+---------+

In [18]:
w = Window.partitionBy('user_id').orderBy(col('amount').desc())
df.withColumn('row_numer', functions.row_number().over(w)).show()

+--------------+-------+------+---------+----------------+---------+
|transaction_id|user_id|amount| location|transaction_time|row_numer|
+--------------+-------+------+---------+----------------+---------+
|           202|      1|   700|Hyderabad|10-03-2025 12:04|        1|
|           201|      1|   500|Hyderabad|10-03-2025 12:00|        2|
|           204|      2|   250|  Chennai|10-03-2025 14:01|        1|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|        2|
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|        1|
|           205|      3|  1000| Banglore|10-03-2025 15:30|        2|
+--------------+-------+------+---------+----------------+---------+

In [19]:
w = Window.partitionBy('user_id').orderBy(col('amount').desc())
df.withColumn('row_numer', functions.rank().over(w)).show()

+--------------+-------+------+---------+----------------+---------+
|transaction_id|user_id|amount| location|transaction_time|row_numer|
+--------------+-------+------+---------+----------------+---------+
|           202|      1|   700|Hyderabad|10-03-2025 12:04|        1|
|           201|      1|   500|Hyderabad|10-03-2025 12:00|        2|
|           204|      2|   250|  Chennai|10-03-2025 14:01|        1|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|        2|
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|        1|
|           205|      3|  1000| Banglore|10-03-2025 15:30|        2|
+--------------+-------+------+---------+----------------+---------+

In [20]:
w = Window.orderBy(col('amount').desc())
df.withColumn('row_numer', functions.rank().over(w)).show()

+--------------+-------+------+---------+----------------+---------+
|transaction_id|user_id|amount| location|transaction_time|row_numer|
+--------------+-------+------+---------+----------------+---------+
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|        1|
|           205|      3|  1000| Banglore|10-03-2025 15:30|        2|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|        3|
|           201|      1|   500|Hyderabad|10-03-2025 12:00|        4|
|           204|      2|   250|  Chennai|10-03-2025 14:01|        5|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|        6|
+--------------+-------+------+---------+----------------+---------+

In [21]:
w = Window.orderBy(col('amount').desc())
df.withColumn('row_numer', functions.rank()).show()

AnalysisException: [WINDOW_FUNCTION_WITHOUT_OVER_CLAUSE] Window function "RANK()" requires an OVER clause.;
Project [transaction_id#158, user_id#159, amount#160, location#161, transaction_time#162, rank() AS row_numer#415]
+- Relation [transaction_id#158,user_id#159,amount#160,location#161,transaction_time#162] csv

In [23]:
w = Window.orderBy(col('amount').desc())
df.withColumn('row_numer', functions.rank().over(w)).show()

+--------------+-------+------+---------+----------------+---------+
|transaction_id|user_id|amount| location|transaction_time|row_numer|
+--------------+-------+------+---------+----------------+---------+
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|        1|
|           205|      3|  1000| Banglore|10-03-2025 15:30|        2|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|        3|
|           201|      1|   500|Hyderabad|10-03-2025 12:00|        4|
|           204|      2|   250|  Chennai|10-03-2025 14:01|        5|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|        6|
+--------------+-------+------+---------+----------------+---------+

In [26]:
w = Window.orderBy(col('amount').desc())
df.withColumn('row_numer', functions.dense_rank().over(w)).show()

+--------------+-------+------+---------+----------------+---------+
|transaction_id|user_id|amount| location|transaction_time|row_numer|
+--------------+-------+------+---------+----------------+---------+
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|        1|
|           205|      3|  1000| Banglore|10-03-2025 15:30|        2|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|        3|
|           201|      1|   500|Hyderabad|10-03-2025 12:00|        4|
|           204|      2|   250|  Chennai|10-03-2025 14:01|        5|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|        6|
+--------------+-------+------+---------+----------------+---------+

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.window import Window
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data\\joins\\user_transactions.csv", header=True, inferSchema=True)
df.show()
df.printSchema()

+--------------+-------+------+---------+----------------+
|transaction_id|user_id|amount| location|transaction_time|
+--------------+-------+------+---------+----------------+
|           201|      1|   500|Hyderabad|10-03-2025 12:00|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|
|           204|      2|   250|  Chennai|10-03-2025 14:01|
|           205|      3|  1000| Banglore|10-03-2025 15:30|
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|
+--------------+-------+------+---------+----------------+

root
 |-- transaction_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- amount: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- transaction_time: string (nullable = true)

In [4]:
from pyspark.sql.functions import col, sum
from pyspark.sql.window import Window
df = spark.read.csv("data\\joins\\user_transactions.csv", header=True, inferSchema=True)

spec = Window.partitionBy('user_id')
df.withColumn("sum", sum('amount').over(spec)).show()
df.groupBy("user_id").agg(sum('amount')).show()

+--------------+-------+------+---------+----------------+----+
|transaction_id|user_id|amount| location|transaction_time| sum|
+--------------+-------+------+---------+----------------+----+
|           201|      1|   500|Hyderabad|10-03-2025 12:00|1200|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|1200|
|           203|      2|   200|Hyderabad|10-03-2025 14:00| 450|
|           204|      2|   250|  Chennai|10-03-2025 14:01| 450|
|           205|      3|  1000| Banglore|10-03-2025 15:30|2500|
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|2500|
+--------------+-------+------+---------+----------------+----+

+-------+-----------+
|user_id|sum(amount)|
+-------+-----------+
|      1|       1200|
|      3|       2500|
|      2|        450|
+-------+-----------+

In [1]:
from pyspark.sql.window import Window
print(dir(Window))

['_FOLLOWING_THRESHOLD', '_JAVA_MAX_LONG', '_JAVA_MIN_LONG', '_PRECEDING_THRESHOLD', '__annotations__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'currentRow', 'orderBy', 'partitionBy', 'rangeBetween', 'rowsBetween', 'unboundedFollowing', 'unboundedPreceding']

In [13]:
from pyspark.sql.functions import col, sum
from pyspark.sql.window import Window
from pyspark.sql import functions as f
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data\\joins\\user_transactions.csv", header=True, inferSchema=True)
# df.agg(functions.sum('amount')).show()
# df.groupBy('user_id').agg(f.sum('amount')).show()
window_spec = Window.partitionBy('user_id')
#df.agg(functions.sum('amount').over(window_spec)).show()
df.withColumn('sum_amount',f.sum('amount').over(window_spec)).show()

+--------------+-------+------+---------+----------------+----------+
|transaction_id|user_id|amount| location|transaction_time|sum_amount|
+--------------+-------+------+---------+----------------+----------+
|           201|      1|   500|Hyderabad|10-03-2025 12:00|      1200|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|      1200|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|       450|
|           204|      2|   250|  Chennai|10-03-2025 14:01|       450|
|           205|      3|  1000| Banglore|10-03-2025 15:30|      2500|
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|      2500|
+--------------+-------+------+---------+----------------+----------+

In [14]:
from pyspark.sql.functions import col, sum
from pyspark.sql.window import Window
from pyspark.sql import functions as f
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data\\joins\\user_transactions.csv", header=True, inferSchema=True)
df.agg(functions.sum('amount')).show()
df.groupBy('user_id').agg(f.sum('amount')).show()
window_spec = Window.rowsBetween(Window.unboundedPreceding, Window.currentRow)
df.withColumn('cum_sum_amount',f.sum('amount').over(window_spec)).show()

+-----------+
|sum(amount)|
+-----------+
|       4150|
+-----------+

+-------+-----------+
|user_id|sum(amount)|
+-------+-----------+
|      1|       1200|
|      3|       2500|
|      2|        450|
+-------+-----------+

+--------------+-------+------+---------+----------------+----------+
|transaction_id|user_id|amount| location|transaction_time|sum_amount|
+--------------+-------+------+---------+----------------+----------+
|           201|      1|   500|Hyderabad|10-03-2025 12:00|       500|
|           202|      1|   700|Hyderabad|10-03-2025 12:04|      1200|
|           203|      2|   200|Hyderabad|10-03-2025 14:00|      1400|
|           204|      2|   250|  Chennai|10-03-2025 14:01|      1650|
|           205|      3|  1000| Banglore|10-03-2025 15:30|      2650|
|           206|      3|  1500|Hyderabad|10-03-2025 15:34|      4150|
+--------------+-------+------+---------+----------------+----------+

In [15]:
from pyspark.sql.functions import col, sum
from pyspark.sql.window import Window
from pyspark.sql import functions as f
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv("data\\joins\\user_transactions.csv", header=True, inferSchema=True)
df.withColumn('amount+2', lambda x:x+2).show()

PySparkTypeError: [NOT_COLUMN] Argument `col` should be a Column, got function.

In [16]:
print(dir(functions))

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'JVMView', 'List', 'Optional', 'PandasUDFType', 'PySparkTypeError', 'PySparkValueError', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Type', 'Union', 'UserDefinedFunction', 'UserDefinedTableFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_py_udf', '_create_py_udtf', '_from_numpy_type', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aes_decrypt', 'aes_encrypt', 'aggregate', 'any_value', 'approxCountDistinct', 'approx_count_distinct', 'approx_percentile', 'array', 'array_agg', 'array_append', 'array_compact', 'array_contains', 'array_distinct', 'array_except', 'array_insert', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_prepend', 'array_remove', 'array_repeat', 'array_size', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_and', 'bit_count', 'bit_get', 'bit_length', 'bit_or', 'bit_xor', 'bitmap_bit_position', 'bitmap_bucket_number', 'bitmap_construct_agg', 'bitmap_count', 'bitmap_or_agg', 'bitwiseNOT', 'bitwise_not', 'bool_and', 'bool_or', 'broadcast', 'bround', 'btrim', 'bucket', 'call_function', 'call_udf', 'cardinality', 'cast', 'cbrt', 'ceil', 'ceiling', 'char', 'char_length', 'character_length', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'contains', 'conv', 'convert_timezone', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'count_if', 'count_min_sketch', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'curdate', 'current_catalog', 'current_database', 'current_date', 'current_schema', 'current_timestamp', 'current_timezone', 'current_user', 'date_add', 'date_diff', 'date_format', 'date_from_unix_date', 'date_part', 'date_sub', 'date_trunc', 'dateadd', 'datediff', 'datepart', 'day', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decimal', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'e', 'element_at', 'elt', 'encode', 'endswith', 'equal_null', 'every', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'extract', 'factorial', 'filter', 'find_in_set', 'first', 'first_value', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get', 'get_active_spark_context', 'get_json_object', 'getbit', 'greatest', 'grouping', 'grouping_id', 'has_numpy', 'hash', 'hex', 'histogram_numeric', 'hll_sketch_agg', 'hll_sketch_estimate', 'hll_union', 'hll_union_agg', 'hour', 'hours', 'hypot', 'ifnull', 'ilike', 'initcap', 'inline', 'inline_outer', 'input_file_block_length', 'input_file_block_start', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnotnull', 'isnull', 'java_method', 'json_array_length', 'json_object_keys', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'last_value', 'lcase', 'lead', 'least', 'left', 'length', 'levenshtein', 'like', 'lit', 'ln', 'localtimestamp', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'make_dt_interval', 'make_interval', 'make_timestamp', 'make_timestamp_ltz', 'make_timestamp_ntz', 'make_ym_interval', 'map_concat', 'map_contains_key', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'mask', 'max', 'max_by', 'md5', 'mean', 'median', 'min', 'min_by', 'minute', 'mode', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'named_struct', 'nanvl', 'negate', 'negative', 'next_day', 'now', 'np', 'nth_value', 'ntile', 'nullif', 'nvl', 'nvl2', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'parse_url', 'percent_rank', 'percentile', 'percentile_approx', 'pi', 'pmod', 'posexplode', 'posexplode_outer', 'position', 'positive', 'pow', 'power', 'printf', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'reduce', 'reflect', 'regexp', 'regexp_count', 'regexp_extract', 'regexp_extract_all', 'regexp_instr', 'regexp_like', 'regexp_replace', 'regexp_substr', 'regr_avgx', 'regr_avgy', 'regr_count', 'regr_intercept', 'regr_r2', 'regr_slope', 'regr_sxx', 'regr_sxy', 'regr_syy', 'repeat', 'replace', 'reverse', 'right', 'rint', 'rlike', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'sign', 'signum', 'sin', 'sinh', 'size', 'skewness', 'slice', 'some', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'split_part', 'sqrt', 'stack', 'startswith', 'std', 'stddev', 'stddev_pop', 'stddev_samp', 'str_to_map', 'struct', 'substr', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_micros', 'timestamp_millis', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_binary', 'to_char', 'to_csv', 'to_date', 'to_json', 'to_number', 'to_str', 'to_timestamp', 'to_timestamp_ltz', 'to_timestamp_ntz', 'to_unix_timestamp', 'to_utc_timestamp', 'to_varchar', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'try_add', 'try_aes_decrypt', 'try_avg', 'try_divide', 'try_element_at', 'try_multiply', 'try_remote_functions', 'try_subtract', 'try_sum', 'try_to_binary', 'try_to_number', 'try_to_timestamp', 'typeof', 'ucase', 'udf', 'udtf', 'unbase64', 'unhex', 'unix_date', 'unix_micros', 'unix_millis', 'unix_seconds', 'unix_timestamp', 'unwrap_udt', 'upper', 'url_decode', 'url_encode', 'user', 'var_pop', 'var_samp', 'variance', 'version', 'warnings', 'weekday', 'weekofyear', 'when', 'width_bucket', 'window', 'window_time', 'xpath', 'xpath_boolean', 'xpath_double', 'xpath_float', 'xpath_int', 'xpath_long', 'xpath_number', 'xpath_short', 'xpath_string', 'xxhash64', 'year', 'years', 'zip_with']

Py4JJavaError: An error occurred while calling o345.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 68.0 failed 1 times, most recent failure: Lost task 0.0 in stage 68.0 (TID 56) (192.168.100.3 executor driver): org.apache.spark.SparkException: Python worker exited unexpectedly (crashed)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:612)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:594)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:99)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:842)
Caused by: java.io.EOFException
	at java.base/java.io.DataInputStream.readInt(DataInputStream.java:398)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:83)
	... 26 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2393)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2414)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2433)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4333)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3316)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4323)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4321)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4321)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3316)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3539)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:280)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:315)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:842)
Caused by: org.apache.spark.SparkException: Python worker exited unexpectedly (crashed)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:612)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator$$anonfun$1.applyOrElse(PythonRunner.scala:594)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:99)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:75)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	... 1 more
Caused by: java.io.EOFException
	at java.base/java.io.DataInputStream.readInt(DataInputStream.java:398)
	at org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:83)
	... 26 more