In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
session = SparkSession.builder.getOrCreate()

In [2]:
spark = session

In [3]:
df = spark.read.csv("data\\salary50.txt", header=True, inferSchema=True)
print(df.show(10))

+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|    NULL|
|  4504018|7087500|        NULL| 9370.35|
|  4504019|   NULL|  2024-11-24| 3679.19|
|     NULL|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
|  4504022|7087520|  2020-03-20| 6668.04|
|  4504023|7087520|  2020-04-19|  5948.5|
|  4504024|7087520|  2020-05-19| 6760.61|
|  4504025|7087520|  2020-06-18|12243.51|
|  4504026|7087520|  2020-07-18| 3069.33|
+---------+-------+------------+--------+
only showing top 10 rows

None

In [4]:
df = spark.read.csv("data\\salary50.txt", header=True, inferSchema=True)
req_df = df.select("emp_id","salary_month","amount")
print(req_df)

DataFrame[emp_id: int, salary_month: date, amount: double]

In [5]:
df = spark.read.csv("data\\salary50.txt", header=True, inferSchema=True)
req_df = df.select("emp_id","salary_month","amount")
req_df.show(10)

+-------+------------+--------+
| emp_id|salary_month|  amount|
+-------+------------+--------+
|7087500|  2024-09-25|    NULL|
|7087500|        NULL| 9370.35|
|   NULL|  2024-11-24| 3679.19|
|7087500|  2024-12-24|  7730.6|
|7087520|  2020-02-19|14822.82|
|7087520|  2020-03-20| 6668.04|
|7087520|  2020-04-19|  5948.5|
|7087520|  2020-05-19| 6760.61|
|7087520|  2020-06-18|12243.51|
|7087520|  2020-07-18| 3069.33|
+-------+------------+--------+
only showing top 10 rows

In [6]:
print(dir(req_df))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'agg', 'alias', 'amount', 'approxQuantile', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'emp_id', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'salary_month', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']

In [7]:
#emp_id|salary_month|amount
# spark dataframes are IMMUTABLE
req_df.withColumnRenamed("salary_month","date")
print(req_df.columns)

['emp_id', 'salary_month', 'amount']

In [8]:
#emp_id|salary_month|amount
# spark dataframes are IMMUTABLE
req_df=req_df.withColumnRenamed("salary_month","date")
print(req_df.columns)

['emp_id', 'date', 'amount']

In [9]:
req_df.show(10)

+-------+----------+--------+
| emp_id|      date|  amount|
+-------+----------+--------+
|7087500|2024-09-25|    NULL|
|7087500|      NULL| 9370.35|
|   NULL|2024-11-24| 3679.19|
|7087500|2024-12-24|  7730.6|
|7087520|2020-02-19|14822.82|
|7087520|2020-03-20| 6668.04|
|7087520|2020-04-19|  5948.5|
|7087520|2020-05-19| 6760.61|
|7087520|2020-06-18|12243.51|
|7087520|2020-07-18| 3069.33|
+-------+----------+--------+
only showing top 10 rows

In [10]:
req_df.withColumnRenamed("date","Date").show(10)

+-------+----------+--------+
| emp_id|      Date|  amount|
+-------+----------+--------+
|7087500|2024-09-25|    NULL|
|7087500|      NULL| 9370.35|
|   NULL|2024-11-24| 3679.19|
|7087500|2024-12-24|  7730.6|
|7087520|2020-02-19|14822.82|
|7087520|2020-03-20| 6668.04|
|7087520|2020-04-19|  5948.5|
|7087520|2020-05-19| 6760.61|
|7087520|2020-06-18|12243.51|
|7087520|2020-07-18| 3069.33|
+-------+----------+--------+
only showing top 10 rows

In [11]:
req_df.show(10)

+-------+----------+--------+
| emp_id|      date|  amount|
+-------+----------+--------+
|7087500|2024-09-25|    NULL|
|7087500|      NULL| 9370.35|
|   NULL|2024-11-24| 3679.19|
|7087500|2024-12-24|  7730.6|
|7087520|2020-02-19|14822.82|
|7087520|2020-03-20| 6668.04|
|7087520|2020-04-19|  5948.5|
|7087520|2020-05-19| 6760.61|
|7087520|2020-06-18|12243.51|
|7087520|2020-07-18| 3069.33|
+-------+----------+--------+
only showing top 10 rows

In [12]:
s="abcd"
s.upper()
print(s)

abcd

In [13]:
s="abcd"
s=s.upper()
print(s)

ABCD

In [14]:
req_df.withColumn("year", "NULL")

PySparkTypeError: [NOT_COLUMN] Argument `col` should be a Column, got str.

In [18]:
from pyspark.sql.functions import lit
req_df.withColumn("year", lit("NULL"))

DataFrame[emp_id: int, date: date, amount: double, year: string]

In [19]:
req_df.columns

['emp_id', 'date', 'amount']

In [20]:
from pyspark.sql.functions import lit
req_df = req_df.withColumn("year", lit("NULL"))
print(req_df.show(10))

+-------+----------+--------+----+
| emp_id|      date|  amount|year|
+-------+----------+--------+----+
|7087500|2024-09-25|    NULL|NULL|
|7087500|      NULL| 9370.35|NULL|
|   NULL|2024-11-24| 3679.19|NULL|
|7087500|2024-12-24|  7730.6|NULL|
|7087520|2020-02-19|14822.82|NULL|
|7087520|2020-03-20| 6668.04|NULL|
|7087520|2020-04-19|  5948.5|NULL|
|7087520|2020-05-19| 6760.61|NULL|
|7087520|2020-06-18|12243.51|NULL|
|7087520|2020-07-18| 3069.33|NULL|
+-------+----------+--------+----+
only showing top 10 rows

None

In [22]:
from pyspark.sql.functions import year
req_df = req_df.withColumn("year", year("date"))
print(req_df.show(10))

+-------+----------+--------+----+
| emp_id|      date|  amount|year|
+-------+----------+--------+----+
|7087500|2024-09-25|    NULL|2024|
|7087500|      NULL| 9370.35|NULL|
|   NULL|2024-11-24| 3679.19|2024|
|7087500|2024-12-24|  7730.6|2024|
|7087520|2020-02-19|14822.82|2020|
|7087520|2020-03-20| 6668.04|2020|
|7087520|2020-04-19|  5948.5|2020|
|7087520|2020-05-19| 6760.61|2020|
|7087520|2020-06-18|12243.51|2020|
|7087520|2020-07-18| 3069.33|2020|
+-------+----------+--------+----+
only showing top 10 rows

None

In [23]:
from pyspark.sql.functions import year, col
req_df = req_df.withColumn("year", year(col("date")))
print(req_df.show(10))

+-------+----------+--------+----+
| emp_id|      date|  amount|year|
+-------+----------+--------+----+
|7087500|2024-09-25|    NULL|2024|
|7087500|      NULL| 9370.35|NULL|
|   NULL|2024-11-24| 3679.19|2024|
|7087500|2024-12-24|  7730.6|2024|
|7087520|2020-02-19|14822.82|2020|
|7087520|2020-03-20| 6668.04|2020|
|7087520|2020-04-19|  5948.5|2020|
|7087520|2020-05-19| 6760.61|2020|
|7087520|2020-06-18|12243.51|2020|
|7087520|2020-07-18| 3069.33|2020|
+-------+----------+--------+----+
only showing top 10 rows

None

In [24]:
from pyspark.sql.functions import year, col
req_df.withColumn("date", year(col("date"))).show(10)

+-------+----+--------+----+
| emp_id|date|  amount|year|
+-------+----+--------+----+
|7087500|2024|    NULL|2024|
|7087500|NULL| 9370.35|NULL|
|   NULL|2024| 3679.19|2024|
|7087500|2024|  7730.6|2024|
|7087520|2020|14822.82|2020|
|7087520|2020| 6668.04|2020|
|7087520|2020|  5948.5|2020|
|7087520|2020| 6760.61|2020|
|7087520|2020|12243.51|2020|
|7087520|2020| 3069.33|2020|
+-------+----+--------+----+
only showing top 10 rows

In [25]:
req_df.count()

50

In [26]:
req_df.columns

['emp_id', 'date', 'amount', 'year']

In [28]:
req_df.filter(col("date")=="2024").show()

+------+----+------+----+
|emp_id|date|amount|year|
+------+----+------+----+
+------+----+------+----+

In [30]:
req_df.dtypes

[('emp_id', 'int'), ('date', 'date'), ('amount', 'double'), ('year', 'int')]

In [31]:
req_df.show(10)

+-------+----------+--------+----+
| emp_id|      date|  amount|year|
+-------+----------+--------+----+
|7087500|2024-09-25|    NULL|2024|
|7087500|      NULL| 9370.35|NULL|
|   NULL|2024-11-24| 3679.19|2024|
|7087500|2024-12-24|  7730.6|2024|
|7087520|2020-02-19|14822.82|2020|
|7087520|2020-03-20| 6668.04|2020|
|7087520|2020-04-19|  5948.5|2020|
|7087520|2020-05-19| 6760.61|2020|
|7087520|2020-06-18|12243.51|2020|
|7087520|2020-07-18| 3069.33|2020|
+-------+----------+--------+----+
only showing top 10 rows

In [32]:
req_df.filter(col("year")==2024).show()

+-------+----------+-------+----+
| emp_id|      date| amount|year|
+-------+----------+-------+----+
|7087500|2024-09-25|   NULL|2024|
|   NULL|2024-11-24|3679.19|2024|
|7087500|2024-12-24| 7730.6|2024|
+-------+----------+-------+----+

In [33]:
req_df.filter((col("year")==2024) & (col("amount").isNull())).show()

+-------+----------+------+----+
| emp_id|      date|amount|year|
+-------+----------+------+----+
|7087500|2024-09-25|  NULL|2024|
+-------+----------+------+----+

In [34]:
print(dir(req_df.amount))

['__add__', '__and__', '__bool__', '__class__', '__contains__', '__delattr__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__invert__', '__iter__', '__le__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '_asc_doc', '_asc_nulls_first_doc', '_asc_nulls_last_doc', '_bitwiseAND_doc', '_bitwiseOR_doc', '_bitwiseXOR_doc', '_contains_doc', '_desc_doc', '_desc_nulls_first_doc', '_desc_nulls_last_doc', '_endswith_doc', '_eqNullSafe_doc', '_isNotNull_doc', '_isNull_doc', '_jc', '_startswith_doc', 'alias', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'astype', 'between', 'bitwiseAND', 'bitwiseOR', 'bitwiseXOR', 'cast', 'contains', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'dropFields', 'endswith', 'eqNullSafe', 'getField', 'getItem', 'ilike', 'isNotNull', 'isNull', 'isin', 'like', 'name', 'otherwise', 'over', 'rlike', 'startswith', 'substr', 'when', 'withField']

In [35]:
req_df.filter((col("year")==2024) & (col("amount").isNotNull())).show()

+-------+----------+-------+----+
| emp_id|      date| amount|year|
+-------+----------+-------+----+
|   NULL|2024-11-24|3679.19|2024|
|7087500|2024-12-24| 7730.6|2024|
+-------+----------+-------+----+

In [36]:
req_df.filter((col("year").isin(2024,2021)) & (col("amount").isNotNull())).show()

+-------+----------+--------+----+
| emp_id|      date|  amount|year|
+-------+----------+--------+----+
|   NULL|2024-11-24| 3679.19|2024|
|7087500|2024-12-24|  7730.6|2024|
|7087520|2021-01-14|11684.05|2021|
|7087520|2021-02-13|13201.85|2021|
|7087520|2021-03-15|  5000.9|2021|
|7087520|2021-04-14| 7511.35|2021|
|7087520|2021-05-14|11958.64|2021|
|7087520|2021-06-13| 3903.62|2021|
|7087520|2021-07-13| 5822.87|2021|
|7087520|2021-08-12| 9035.41|2021|
|7087520|2021-09-11| 5094.17|2021|
|7087520|2021-10-11| 9397.57|2021|
|7087520|2021-11-10|12942.52|2021|
|7087520|2021-12-10| 4074.86|2021|
+-------+----------+--------+----+

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
import numpy as np
from datetime import date, datetime
spark = SparkSession.builder.getOrCreate()

In [2]:
df = spark.read.csv("data\\salary50.txt", header=True, inferSchema=True)
print(df.printSchema())

root
 |-- salary_id: integer (nullable = true)
 |-- emp_id: integer (nullable = true)
 |-- salary_month: date (nullable = true)
 |-- amount: double (nullable = true)

None

In [3]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

None
+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+

None

In [4]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True)
print(df.printSchema())
print(df.show())

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

None
+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+

None

In [5]:
#SQL DDL schema creation
schema = "id INT, name STRING, age FLOAT"
df = spark.read.csv("data\\sample_employee_data.txt", header=True, schema=schema)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: float (nullable = true)

None
+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+

None

In [7]:
#SQL DDL schema creation
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", FloatType(), True),
    
])
df = spark.read.csv("data\\sample_employee_data.txt", header=True, schema=schema)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: float (nullable = true)

None
+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+

None

In [8]:
#SQL DDL schema creation
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    
])
df = spark.read.csv("data\\sample_employee_data.txt", header=True, schema=schema)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

None
+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|NULL|
|  2|  Vamshi|NULL|
|  3|Bhagavan|NULL|
+---+--------+----+

None

In [9]:
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    
])
df = spark.read.csv("data\\sample_employee_data.txt", header=True, schema=schema)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

None
+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|NULL|
|  2|  Vamshi|NULL|
|  3|Bhagavan|NULL|
|  4|     sAM|  35|
+---+--------+----+

None

In [10]:
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", FloatType(), True),
    
])
df = spark.read.csv("data\\sample_employee_data.txt", header=True, schema=schema)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: float (nullable = true)

None
+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
|  4|     sAM|35.0|
+---+--------+----+

None

In [12]:
int(1.2)

1

In [13]:
int("1.2")

ValueError: invalid literal for int() with base 10: '1.2'

In [15]:
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", FloatType(), True),
    
])
df = spark.read.csv("data\\sample_employee_data.txt", header=True, schema=schema)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: float (nullable = true)

None
+----+--------+----+
|  id|    name| age|
+----+--------+----+
|   1|  Satish|28.2|
|   2|  Vamshi|27.3|
|   3|Bhagavan|29.1|
|   4|     sAM|35.0|
|NULL|     123|NULL|
+----+--------+----+

None

In [17]:
float("35")

35.0

In [18]:
int("28.2")

ValueError: invalid literal for int() with base 10: '28.2'

In [19]:
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    
])
df = spark.read.csv("data\\sample_employee_data.txt", header=True, schema=schema)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

None
+----+--------+----+
|  id|    name| age|
+----+--------+----+
|   1|  Satish|NULL|
|   2|  Vamshi|NULL|
|   3|Bhagavan|NULL|
|   4|     sAM|  35|
|NULL|     123|NULL|
+----+--------+----+

None

In [20]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

None
+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
|  4|     sAM|  35|
|  5|     123|   a|
+---+--------+----+

None

In [21]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

None
+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
|  4|     sAM|35.0|
+---+--------+----+

None

In [22]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
print(df.printSchema())
print(df.show())

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

None
+---+--------+-----+
| id|    name|  age|
+---+--------+-----+
|  1|  Satish| 28.2|
|  2|  Vamshi| 27.3|
|  3|Bhagavan| 29.1|
|  4|     sAM| 35.0|
|  5|     123|34.56|
+---+--------+-----+

None

In [26]:
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
from pyspark.sql.functions import col
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df = df.withColumn("age_int",col("age").cast(IntegerType()))
df.show(10)

+---+--------+-----+-------+
| id|    name|  age|age_int|
+---+--------+-----+-------+
|  1|  Satish| 28.2|     28|
|  2|  Vamshi| 27.3|     27|
|  3|Bhagavan| 29.1|     29|
|  4|     sAM| 35.0|     35|
|  5|     123|34.56|     34|
+---+--------+-----+-------+

In [27]:
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
from pyspark.sql.functions import col
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df = df.withColumn("age",col("age").cast(IntegerType()))
df.show(10)

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|  Satish| 28|
|  2|  Vamshi| 27|
|  3|Bhagavan| 29|
|  4|     sAM| 35|
|  5|     123| 34|
+---+--------+---+

In [28]:
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
from pyspark.sql.functions import col
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df = df.withColumn("name_int",col("name").cast(IntegerType()))
df.show(10)

+---+--------+-----+--------+
| id|    name|  age|name_int|
+---+--------+-----+--------+
|  1|  Satish| 28.2|    NULL|
|  2|  Vamshi| 27.3|    NULL|
|  3|Bhagavan| 29.1|    NULL|
|  4|     sAM| 35.0|    NULL|
|  5|     123|34.56|     123|
+---+--------+-----+--------+

In [30]:
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
from pyspark.sql.functions import col
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df.show(3)

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+
only showing top 3 rows

In [32]:
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
from pyspark.sql.functions import col
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df.limit(3).show()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+

In [33]:
#df.limit(3), transformation
#df.show(3), action
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
from pyspark.sql.functions import col
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_3 = df.limit(3)
print(df_3)

DataFrame[id: int, name: string, age: double]

In [34]:
#df.limit(3), transformation
#df.show(3), action
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
from pyspark.sql.functions import col
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_3 = df.limit(3)
print(df_3.count())

3

In [35]:
#df.limit(3), transformation
#df.show(3), action
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField
from pyspark.sql.functions import col
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_3 = df.show(3)
print("*"*10)
print(df_3)

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+
only showing top 3 rows

**********
None

In [36]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
print(df.show())

+---+--------+-----+
| id|    name|  age|
+---+--------+-----+
|  1|  Satish| 28.2|
|  2|  Vamshi| 27.3|
|  3|Bhagavan| 29.1|
|  4|     sAM| 35.0|
|  5|     123|34.56|
+---+--------+-----+

None

In [37]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df.sort(col("name").desc()).show()

+---+--------+-----+
| id|    name|  age|
+---+--------+-----+
|  4|     sAM| 35.0|
|  2|  Vamshi| 27.3|
|  1|  Satish| 28.2|
|  3|Bhagavan| 29.1|
|  5|     123|34.56|
+---+--------+-----+

In [38]:
print(ord("s"))
print(ord("1"))
print(ord("V"))

115
49
86

In [39]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df.show()

+---+--------+-----+
| id|    name|  age|
+---+--------+-----+
|  1|  Satish| 28.2|
|  2|  Vamshi| 27.3|
|  3|Bhagavan| 29.1|
|  4|     sAM| 35.0|
|  5|     123|34.56|
+---+--------+-----+

In [41]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df.show()
df.sort([col("name"),col("age")],ascending=[0,0]).show()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|  Vamshi|28.3|
|  4|Bhagavan|29.1|
+---+--------+----+

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  3|  Vamshi|28.3|
|  2|  Vamshi|27.3|
|  1|  Satish|28.2|
|  4|Bhagavan|29.1|
+---+--------+----+

In [42]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df.show()
df.sort([col("name"),col("age")],ascending=[0,1]).show()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|  Vamshi|28.3|
|  4|Bhagavan|29.1|
+---+--------+----+

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  2|  Vamshi|27.3|
|  3|  Vamshi|28.3|
|  1|  Satish|28.2|
|  4|Bhagavan|29.1|
+---+--------+----+

In [43]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df.show()
df.drop_duplicates().show()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|  Vamshi|28.3|
|  4|Bhagavan|29.1|
|  4|Bhagavan|29.1|
|  4|Bhagavan|29.1|
|  2|  Vamshi|27.3|
|  2|  Vamshi|27.3|
+---+--------+----+

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  4|Bhagavan|29.1|
|  2|  Vamshi|27.3|
|  3|  Vamshi|28.3|
|  1|  Satish|28.2|
+---+--------+----+

In [44]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df.show()
df.distinct().show()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|  Vamshi|28.3|
|  4|Bhagavan|29.1|
|  4|Bhagavan|29.1|
|  4|Bhagavan|29.1|
|  2|  Vamshi|27.3|
|  2|  Vamshi|27.3|
+---+--------+----+

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  4|Bhagavan|29.1|
|  2|  Vamshi|27.3|
|  3|  Vamshi|28.3|
|  1|  Satish|28.2|
+---+--------+----+

In [45]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df.show()
df.drop_duplicates(subset=["name"]).show()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|  Vamshi|28.3|
|  4|Bhagavan|29.1|
|  5|Bhagavan|29.1|
|  6|Bhagavan|29.2|
|  7|  Vamshi|27.3|
|  8|  Vamshi|27.3|
+---+--------+----+

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  4|Bhagavan|29.1|
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
+---+--------+----+

## Union

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.getOrCreate()

In [6]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_samecolumns = spark.read.csv("data\\sample_employee_data_same_columns.txt", header=True, inferSchema=True)
df_union = df.union(df_samecolumns)
df_union.show()

+---+---------+----+
| id|     name| age|
+---+---------+----+
|  1|   Satish|28.2|
|  2|   Vamshi|27.3|
|  3|   Vamshi|28.3|
|  4| Bhagavan|29.1|
|  5| Bhagavan|29.1|
|  6| Bhagavan|29.2|
|  7|   Vamshi|27.3|
|  8|   Vamshi|27.3|
|  1|    Ameel|28.2|
|  2|  Shravan|27.3|
|  3|Dhanunjay|29.1|
+---+---------+----+

In [7]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_samecolumns = spark.read.csv("data\\sample_employee_data_order_miss.txt", header=True, inferSchema=True)
df_union = df.union(df_samecolumns)
df_union.show()

+---+--------+--------+
| id|    name|     age|
+---+--------+--------+
|  1|  Satish|    28.2|
|  2|  Vamshi|    27.3|
|  3|Bhagavan|    29.1|
|  1|    28.2|  Satish|
|  2|    27.3|  Vamshi|
|  3|    29.1|Bhagavan|
+---+--------+--------+

In [10]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_order_miss.txt", header=True, inferSchema=True)
df_union = df.unionByName(df_missmatched_columns)
df_union.show()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
|  1|     Sam|35.0|
|  2|     jay| 7.0|
|  3|   vedha| 6.0|
+---+--------+----+

In [11]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_extra_col.txt", header=True, inferSchema=True)
df_union = df.unionByName(df_missmatched_columns)
df_union.show()

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 3 columns and the second input has 4 columns.;
'Union false, false
:- Relation [id#572,name#573,age#574] csv
+- Project [id#595, name#596, age#597, phone#598L]
   +- Relation [id#595,name#596,age#597,phone#598L] csv

In [12]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_extra_col.txt", header=True, inferSchema=True)
df_union = df.union(df_missmatched_columns)
df_union.show()

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 3 columns and the second input has 4 columns.;
'Union false, false
:- Relation [id#621,name#622,age#623] csv
+- Relation [id#644,name#645,age#646,phone#647L] csv

In [13]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_extra_col.txt", header=True, inferSchema=True)
df_union = df.unionByName(df_missmatched_columns)
df_union.show()

AnalysisException: Cannot resolve column name "age" among (id, name, phone).

In [14]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_extra_col.txt", header=True, inferSchema=True)
df_union = df.union(df_missmatched_columns)
df_union.show()

+---+--------+-------------+
| id|    name|          age|
+---+--------+-------------+
|  1|  Satish|         28.2|
|  2|  Vamshi|         27.3|
|  3|Bhagavan|         29.1|
|  1|     sam|9.786567845E9|
|  2|     jay|9.786567846E9|
|  3|   vedha|9.786567847E9|
+---+--------+-------------+

In [15]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_extra_col.txt", header=True, inferSchema=True)
df_union = df.unionByName?

Signature: df.unionByName(other: 'DataFrame', allowMissingColumns: bool = False) -> 'DataFrame'
Docstring:
Returns a new :class:`DataFrame` containing union of rows in this and another
:class:`DataFrame`.

This method performs a union operation on both input DataFrames, resolving columns by
name (rather than position). When `allowMissingColumns` is True, missing columns will
be filled with null.

.. versionadded:: 2.3.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
other : :class:`DataFrame`
    Another :class:`DataFrame` that needs to be combined.
allowMissingColumns : bool, optional, default False
   Specify whether to allow missing columns.

   .. versionadded:: 3.1.0

Returns
-------
:class:`DataFrame`
    A new :class:`DataFrame` containing the combined rows with corresponding
    columns of the two given DataFrames.

Examples
--------
Example 1: Union of two DataFrames with same columns in different order.

>>> df1 = spark.createDataFrame([[1, 2, 3]], ["col0", "col1", "col2"])
>>> df2 = spark.createDataFrame([[4, 5, 6]], ["col1", "col2", "col0"])
>>> df1.unionByName(df2).show()
+----+----+----+
|col0|col1|col2|
+----+----+----+
|   1|   2|   3|
|   6|   4|   5|
+----+----+----+

Example 2: Union with missing columns and setting `allowMissingColumns=True`.

>>> df1 = spark.createDataFrame([[1, 2, 3]], ["col0", "col1", "col2"])
>>> df2 = spark.createDataFrame([[4, 5, 6]], ["col1", "col2", "col3"])
>>> df1.unionByName(df2, allowMissingColumns=True).show()
+----+----+----+----+
|col0|col1|col2|col3|
+----+----+----+----+
|   1|   2|   3|NULL|
|NULL|   4|   5|   6|
+----+----+----+----+

Example 3: Union of two DataFrames with few common columns.

>>> df1 = spark.createDataFrame([[1, 2, 3]], ["col0", "col1", "col2"])
>>> df2 = spark.createDataFrame([[4, 5, 6, 7]], ["col1", "col2", "col3", "col4"])
>>> df1.unionByName(df2, allowMissingColumns=True).show()
+----+----+----+----+----+
|col0|col1|col2|col3|col4|
+----+----+----+----+----+
|   1|   2|   3|NULL|NULL|
|NULL|   4|   5|   6|   7|
+----+----+----+----+----+

Example 4: Union of two DataFrames with completely different columns.

>>> df1 = spark.createDataFrame([[0, 1, 2]], ["col0", "col1", "col2"])
>>> df2 = spark.createDataFrame([[3, 4, 5]], ["col3", "col4", "col5"])
>>> df1.unionByName(df2, allowMissingColumns=True).show()
+----+----+----+----+----+----+
|col0|col1|col2|col3|col4|col5|
+----+----+----+----+----+----+
|   0|   1|   2|NULL|NULL|NULL|
|NULL|NULL|NULL|   3|   4|   5|
+----+----+----+----+----+----+
File:      c:\users\navya\anaconda3\lib\site-packages\pyspark\sql\dataframe.py
Type:      method

In [19]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_extra_col.txt", header=True, inferSchema=True)
df.select(["id", "name"]).unionByName(df_missmatched_columns.select(["id","name"])).show()

+---+--------+
| id|    name|
+---+--------+
|  1|  Satish|
|  2|  Vamshi|
|  3|Bhagavan|
|  1|     sam|
|  2|     jay|
|  3|   vedha|
+---+--------+

In [20]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_extra_col.txt", header=True, inferSchema=True)
df_union = df.unionByName(df_missmatched_columns, allowMissingColumns=True)
df_union.show()

+---+--------+----+----------+
| id|    name| age|     phone|
+---+--------+----+----------+
|  1|  Satish|28.2|      NULL|
|  2|  Vamshi|27.3|      NULL|
|  3|Bhagavan|29.1|      NULL|
|  1|     sam|NULL|9786567845|
|  2|     jay|NULL|9786567846|
|  3|   vedha|NULL|9786567847|
+---+--------+----+----------+

In [23]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_same_columns.txt", header=True, inferSchema=True)
df_missmatched_columns.printSchema()
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

In [25]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_same_columns.txt", header=True, inferSchema=True)
df_missmatched_columns.printSchema()
df.printSchema()
df_u = df.union(df_missmatched_columns)
df_u.show()
df_u.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

+----+---------+----+
|  id|     name| age|
+----+---------+----+
|   1|   Satish|28.2|
|   2|   Vamshi|27.3|
|   3| Bhagavan|29.1|
|1a23|    Ameel|28.2|
|2bc4|  Shravan|27.3|
|3de5|Dhanunjay|29.1|
+----+---------+----+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

In [26]:
df = spark.read.csv("data\\sample_employee_data.txt", header=True, inferSchema=True)
df_missmatched_columns = spark.read.csv("data\\sample_employee_data_same_columns.txt", header=True, inferSchema=True)
df_missmatched_columns.printSchema()
df.printSchema()
df_u = df.union(df_missmatched_columns)
df_u.show()
df_u.printSchema()

root
 |-- id: double (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

+---+---------+----+
| id|     name| age|
+---+---------+----+
|1.0|   Satish|28.2|
|2.0|   Vamshi|27.3|
|3.0| Bhagavan|29.1|
|2.3|    Ameel|28.2|
|4.5|  Shravan|27.3|
|6.7|Dhanunjay|29.1|
+---+---------+----+

root
 |-- id: double (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)