In [3]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
print(df)

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [4]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 1 row

In [ ]:
df = spark.createDataFrame(pandas_df)
print(df)

In [5]:
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
print(df)
print(df.show())

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

None

In [6]:
pandas_df = pd.DataFrame({
    'a': [1, 2, 3,4],
    'b': [2., 3., 4.,5.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
print(df)
print(df.show())

ValueError: All arrays must be of the same length

In [7]:
pandas_df = pd.DataFrame({
    'a': pd.Series([1, 2, 3,4]),
    'b': pd.Series([2., 3., 4.,5.]),
    'c': pd.Series(['string1', 'string2', 'string3']),
    'd': pd.Series([date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)]),
    'e': pd.Series([datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)])
})
df = spark.createDataFrame(pandas_df)
print(df)
print(df.show())

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
|  4|5.0|   NULL|      NULL|               NULL|
+---+---+-------+----------+-------------------+

None

In [8]:
print(pandas_df)

   a    b        c           d                   e
0  1  2.0  string1  2000-01-01 2000-01-01 12:00:00
1  2  3.0  string2  2000-02-01 2000-01-02 12:00:00
2  3  4.0  string3  2000-03-01 2000-01-03 12:00:00
3  4  5.0      NaN         NaN                 NaT

In [9]:
pandas_df = pd.DataFrame({
    'a': pd.Series([1, 2, 3,4]),
    'b': pd.Series([2., 3., 4.]),
    'c': pd.Series(['string1', 'string2', 'string3']),
    'd': pd.Series([date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)]),
    'e': pd.Series([datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)])
})
df = spark.createDataFrame(pandas_df)
print(df)
print(df.show())

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
+---+----+-------+----------+-------------------+
|  a|   b|      c|         d|                  e|
+---+----+-------+----------+-------------------+
|  1| 2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2| 3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3| 4.0|string3|2000-03-01|2000-01-03 12:00:00|
|  4|NULL|   NULL|      NULL|               NULL|
+---+----+-------+----------+-------------------+

None

In [10]:
df.b

Column<'b'>

In [11]:
print(dir(df.b))

['__add__', '__and__', '__bool__', '__class__', '__contains__', '__delattr__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__invert__', '__iter__', '__le__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '_asc_doc', '_asc_nulls_first_doc', '_asc_nulls_last_doc', '_bitwiseAND_doc', '_bitwiseOR_doc', '_bitwiseXOR_doc', '_contains_doc', '_desc_doc', '_desc_nulls_first_doc', '_desc_nulls_last_doc', '_endswith_doc', '_eqNullSafe_doc', '_isNotNull_doc', '_isNull_doc', '_jc', '_startswith_doc', 'alias', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'astype', 'between', 'bitwiseAND', 'bitwiseOR', 'bitwiseXOR', 'cast', 'contains', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'dropFields', 'endswith', 'eqNullSafe', 'getField', 'getItem', 'ilike', 'isNotNull', 'isNull', 'isin', 'like', 'name', 'otherwise', 'over', 'rlike', 'startswith', 'substr', 'when', 'withField']

In [12]:
df.select("b")

DataFrame[b: double]

In [13]:
df_b = df.select("b")
df_col_b = df.b
print(dir(df_b))
print("*"*20)
print(dir(df_col_b))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'agg', 'alias', 'approxQuantile', 'b', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']
********************
['__add__', '__and__', '__bool__', '__class__', '__contains__', '__delattr__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__invert__', '__iter__', '__le__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '_asc_doc', '_asc_nulls_first_doc', '_asc_nulls_last_doc', '_bitwiseAND_doc', '_bitwiseOR_doc', '_bitwiseXOR_doc', '_contains_doc', '_desc_doc', '_desc_nulls_first_doc', '_desc_nulls_last_doc', '_endswith_doc', '_eqNullSafe_doc', '_isNotNull_doc', '_isNull_doc', '_jc', '_startswith_doc', 'alias', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'astype', 'between', 'bitwiseAND', 'bitwiseOR', 'bitwiseXOR', 'cast', 'contains', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'dropFields', 'endswith', 'eqNullSafe', 'getField', 'getItem', 'ilike', 'isNotNull', 'isNull', 'isin', 'like', 'name', 'otherwise', 'over', 'rlike', 'startswith', 'substr', 'when', 'withField']

In [14]:
df.select("b").count()

4

In [15]:
import numpy as np
print(1+2+np.nan)

nan

In [17]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))

nan
nan

In [18]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1)

nan
nan
0    1.0
1    2.0
2    NaN
dtype: float64

In [19]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())

nan
nan
3.0

In [22]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)

nan
nan
3.0
float64

In [24]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1)

nan
nan
3.0
float64
     a
0  1.0
1  2.0
2  NaN

In [25]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())

nan
nan
3.0
float64
3.0

In [26]:
df1.a

0    1.0
1    2.0
2    NaN
Name: a, dtype: float64

In [27]:
print(type(df1.a))

<class 'pandas.core.series.Series'>

In [28]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)

nan
nan
3.0
float64
3.0
DataFrame[a: double]

In [29]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)
print(sdf.show())

nan
nan
3.0
float64
3.0
DataFrame[a: double]
+----+
|   a|
+----+
| 1.0|
| 2.0|
|NULL|
+----+

None

In [30]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)
print(sdf.show(vertical=True))

nan
nan
3.0
float64
3.0
DataFrame[a: double]
-RECORD 0---
 a   | 1.0
-RECORD 1---
 a   | 2.0
-RECORD 2---
 a   | NULL

None

In [31]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)
sdf.show(vertical=True)

nan
nan
3.0
float64
3.0
DataFrame[a: double]
-RECORD 0---
 a   | 1.0
-RECORD 1---
 a   | 2.0
-RECORD 2---
 a   | NULL

In [32]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)
sdf.show(1, vertical=True)

nan
nan
3.0
float64
3.0
DataFrame[a: double]
-RECORD 0--
 a   | 1.0
only showing top 1 row

In [33]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan]), "b":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf)
sdf.show(2,vertical=True)

nan
nan
3.0
float64
3.0
DataFrame[a: double, b: double]
-RECORD 0--
 a   | 1.0
 b   | 1.0
-RECORD 1--
 a   | 2.0
 b   | 2.0
only showing top 2 rows

In [34]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan]), "b":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf.show())

nan
nan
3.0
float64
3.0
+----+----+
|   a|   b|
+----+----+
| 1.0| 1.0|
| 2.0| 2.0|
|NULL|NULL|
+----+----+

None

In [35]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan]), "b":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf.show())
sdf.transform?

nan
nan
3.0
float64
3.0
+----+----+
|   a|   b|
+----+----+
| 1.0| 1.0|
| 2.0| 2.0|
|NULL|NULL|
+----+----+

None

Signature:
sdf.transform(
    func: Callable[..., ForwardRef('DataFrame')],
    *args: Any,
    **kwargs: Any,
) -> 'DataFrame'
Docstring:
Returns a new :class:`DataFrame`. Concise syntax for chaining custom transformations.

.. versionadded:: 3.0.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
func : function
    a function that takes and returns a :class:`DataFrame`.
*args
    Positional arguments to pass to func.

    .. versionadded:: 3.3.0
**kwargs
    Keyword arguments to pass to func.

    .. versionadded:: 3.3.0

Returns
-------
:class:`DataFrame`
    Transformed DataFrame.

Examples
--------
>>> from pyspark.sql.functions import col
>>> df = spark.createDataFrame([(1, 1.0), (2, 2.0)], ["int", "float"])
>>> def cast_all_to_int(input_df):
...     return input_df.select([col(col_name).cast("int") for col_name in input_df.columns])
...
>>> def sort_columns_asc(input_df):
...     return input_df.select(*sorted(input_df.columns))
...
>>> df.transform(cast_all_to_int).transform(sort_columns_asc).show()
+-----+---+
|float|int|
+-----+---+
|    1|  1|
|    2|  2|
+-----+---+

>>> def add_n(input_df, n):
...     return input_df.select([(col(col_name) + n).alias(col_name)
...                             for col_name in input_df.columns])
>>> df.transform(add_n, 1).transform(add_n, n=10).show()
+---+-----+
|int|float|
+---+-----+
| 12| 12.0|
| 13| 13.0|
+---+-----+
File:      c:\users\navya\anaconda3\lib\site-packages\pyspark\sql\dataframe.py
Type:      method

In [42]:
from pyspark.sql.functions import col
print(col)
print(col("col1"))

<function col at 0x0000025A6BA04400>
Column<'col1'>

In [38]:
import numpy as np
print(1+2+np.nan)
print(sum([1,2,np.nan]))
ser1 = pd.Series([1,2,np.nan])
print(ser1.sum())
print(ser1.dtype)
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan]), "b":pd.Series([1,2,np.nan])})
print(df1.a.sum())
sdf = spark.createDataFrame(df1)
print(sdf.show())
def convert(data):
    print("converted")
    print(data)
    return data
sdf.transform(convert)

nan
nan
3.0
float64
3.0
+----+----+
|   a|   b|
+----+----+
| 1.0| 1.0|
| 2.0| 2.0|
|NULL|NULL|
+----+----+

None
converted
DataFrame[a: double, b: double]

DataFrame[a: double, b: double]

In [40]:
import numpy as np
df1 = pd.DataFrame({"a":pd.Series([1,2,np.nan]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
def convert(data):
    print("converted")
    print(data)
    return data
sdf.transform(convert)

converted
DataFrame[a: double, b: double]

DataFrame[a: double, b: double]

In [2]:
import numpy as np
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf)

DataFrame[a: bigint, b: double]

In [3]:
sdf.show()

+---+----+
|  a|   b|
+---+----+
|  1| 1.0|
|  2| 2.0|
|  3|NULL|
+---+----+

In [4]:
sdf.a

Column<'a'>

In [5]:
sdf.a.cast("float")

Column<'CAST(a AS FLOAT)'>

In [6]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)

[('a', 'bigint'), ('b', 'double')]

In [7]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a.cast("double")
print(sdf.dtypes)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]

In [8]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("double")
print(sdf.dtypes)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]

In [9]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
print(sdf.dtypes)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]

In [10]:
print(dir(sdf))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'a', 'agg', 'alias', 'approxQuantile', 'b', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']

In [11]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
print(sdf.dtypes)
sdf.drop("a")
print(sdf)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]
DataFrame[a: bigint, b: double]

In [12]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
print(sdf.dtypes)
sdf.drop?
print(sdf)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]
DataFrame[a: bigint, b: double]

Signature: sdf.drop(*cols: 'ColumnOrName') -> 'DataFrame'
Docstring:
Returns a new :class:`DataFrame` without specified columns.
This is a no-op if the schema doesn't contain the given column name(s).

.. versionadded:: 1.4.0

.. versionchanged:: 3.4.0
    Supports Spark Connect.

Parameters
----------
cols: str or :class:`Column`
    a name of the column, or the :class:`Column` to drop

Returns
-------
:class:`DataFrame`
    DataFrame without given columns.

Notes
-----
When an input is a column name, it is treated literally without further interpretation.
Otherwise, will try to match the equivalent expression.
So that dropping column by its name `drop(colName)` has different semantic with directly
dropping the column `drop(col(colName))`.

Examples
--------
>>> from pyspark.sql import Row
>>> from pyspark.sql.functions import col, lit
>>> df = spark.createDataFrame(
...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
>>> df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])

>>> df.drop('age').show()
+-----+
| name|
+-----+
|  Tom|
|Alice|
|  Bob|
+-----+
>>> df.drop(df.age).show()
+-----+
| name|
+-----+
|  Tom|
|Alice|
|  Bob|
+-----+

Drop the column that joined both DataFrames on.

>>> df.join(df2, df.name == df2.name, 'inner').drop('name').sort('age').show()
+---+------+
|age|height|
+---+------+
| 14|    80|
| 16|    85|
+---+------+

>>> df3 = df.join(df2)
>>> df3.show()
+---+-----+------+----+
|age| name|height|name|
+---+-----+------+----+
| 14|  Tom|    80| Tom|
| 14|  Tom|    85| Bob|
| 23|Alice|    80| Tom|
| 23|Alice|    85| Bob|
| 16|  Bob|    80| Tom|
| 16|  Bob|    85| Bob|
+---+-----+------+----+

Drop two column by the same name.

>>> df3.drop("name").show()
+---+------+
|age|height|
+---+------+
| 14|    80|
| 14|    85|
| 23|    80|
| 23|    85|
| 16|    80|
| 16|    85|
+---+------+

Can not drop col('name') due to ambiguous reference.

>>> df3.drop(col("name")).show()
Traceback (most recent call last):
...
pyspark.errors.exceptions.captured.AnalysisException: [AMBIGUOUS_REFERENCE] Reference...

>>> df4 = df.withColumn("a.b.c", lit(1))
>>> df4.show()
+---+-----+-----+
|age| name|a.b.c|
+---+-----+-----+
| 14|  Tom|    1|
| 23|Alice|    1|
| 16|  Bob|    1|
+---+-----+-----+

>>> df4.drop("a.b.c").show()
+---+-----+
|age| name|
+---+-----+
| 14|  Tom|
| 23|Alice|
| 16|  Bob|
+---+-----+

Can not find a column matching the expression "a.b.c".

>>> df4.drop(col("a.b.c")).show()
+---+-----+-----+
|age| name|a.b.c|
+---+-----+-----+
| 14|  Tom|    1|
| 23|Alice|    1|
| 16|  Bob|    1|
+---+-----+-----+
File:      c:\users\navya\anaconda3\lib\site-packages\pyspark\sql\dataframe.py
Type:      method

In [13]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
print(sdf.dtypes)
sdf.drop("a").show()
print(sdf)

[('a', 'bigint'), ('b', 'double')]
[('a', 'bigint'), ('b', 'double')]
+----+
|   b|
+----+
| 1.0|
| 2.0|
|NULL|
+----+

DataFrame[a: bigint, b: double]

In [14]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
sdf.c=pd.Series([1,2,3])
print(sdf.show())

[('a', 'bigint'), ('b', 'double')]
+---+----+
|  a|   b|
+---+----+
|  1| 1.0|
|  2| 2.0|
|  3|NULL|
+---+----+

None

In [15]:
df1 = pd.DataFrame({"a":pd.Series([1,2,3]), "b":pd.Series([1,2,np.nan])})
sdf = spark.createDataFrame(df1)
print(sdf.dtypes)
sdf.a = sdf.a.cast("string")
sdf.c=pd.Series([1,2,3])
print(sdf.show())
print(dir(sdf))

[('a', 'bigint'), ('b', 'double')]
+---+----+
|  a|   b|
+---+----+
|  1| 1.0|
|  2| 2.0|
|  3|NULL|
+---+----+

None
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'a', 'agg', 'alias', 'approxQuantile', 'b', 'c', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder.getOrCreate()

In [2]:
spark.stop()

In [8]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder \
    .appName("JobTracking") \
    .config("spark.ui.port", "4040") \
    .getOrCreate()

In [9]:
spark.stop()

In [10]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder \
    .appName("JobTracking") \
    .config("spark.ui.port", "4041") \
    .getOrCreate()

In [11]:
df_1cr = spark.read.csv("data\salary_1cr.csv", inferSchema=True, header=True)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Navya\AppData\Local\Temp\ipykernel_6684\2161328399.py:1: SyntaxWarning: invalid escape sequence '\s'
  df_1cr = spark.read.csv("data\salary_1cr.csv", inferSchema=True, header=True)

In [12]:
df_1cr

DataFrame[salary_id: int, emp_id: int, salary_month: date, amount: double]

In [13]:
df_1cr.count()

10000000

In [15]:
df_1cr.columns

['salary_id', 'emp_id', 'salary_month', 'amount']

In [19]:
#create a one more df with some columns
df_emp_id_amount = df_1cr.select("emp_id","salary_month")
df_emp_id_amount.show(2)

+--------+------------+
|  emp_id|salary_month|
+--------+------------+
|39470031|  2020-10-16|
|39470031|  2020-11-15|
+--------+------------+
only showing top 2 rows

In [ ]:
#create a one more df with some columns
df_emp_id_amount = df_1cr.select("emp_id","salary_month")
print(dir(df_emp_id_amount))

In [21]:
# the standardise way pyspark sugesting is using col function
from pyspark.sql.functions import col
df_emp_id_amount = df_1cr.select(col("emp_id"),col("salary_month"))
print(df_emp_id_amount.show(3))

+--------+------------+
|  emp_id|salary_month|
+--------+------------+
|39470031|  2020-10-16|
|39470031|  2020-11-15|
|39470031|  2020-12-15|
+--------+------------+
only showing top 3 rows

None

In [22]:
# ALIAS: change the column name if you dont like
df_emp_id_amount = df_1cr.select(col("emp_id"),col("salary_month").alias('month'))
print(df_emp_id_amount.show(3))

+--------+----------+
|  emp_id|     month|
+--------+----------+
|39470031|2020-10-16|
|39470031|2020-11-15|
|39470031|2020-12-15|
+--------+----------+
only showing top 3 rows

None

In [23]:
#Filter
df_39470031 = df_1cr.filter(col("emp_id")==39470031)
print(df_39470031.count())

52

In [27]:
#Filter 7087500 employee january month results
from pyspark.sql.functions import col, month
df_sal50 = spark.read.csv('data\\salary50.txt',header=True, inferSchema=True)
df_7087500 = df_sal50.filter((col("emp_id")==7087500) & (month(col("salary_month"))==9))
print(df_7087500.count())
print(df_7087500.show())

1
+---------+-------+------------+------+
|salary_id| emp_id|salary_month|amount|
+---------+-------+------------+------+
|  4504017|7087500|  2024-09-25|  NULL|
+---------+-------+------------+------+

None

In [28]:
#Filter 7087500 employee january month results
#isin?...  9,12
from pyspark.sql.functions import col, month
df_sal50 = spark.read.csv('data\\salary50.txt',header=True, inferSchema=True)
df_7087500 = df_sal50.filter((col("emp_id")==7087500) & (month(col("salary_month")).isin(9,12)))
print(df_7087500.count())
print(df_7087500.show())

2
+---------+-------+------------+------+
|salary_id| emp_id|salary_month|amount|
+---------+-------+------------+------+
|  4504017|7087500|  2024-09-25|  NULL|
|     NULL|7087500|  2024-12-24|7730.6|
+---------+-------+------------+------+

None

In [29]:
#Filter 7087500 employee january month results
#isin?...  9,12
from pyspark.sql.functions import col, month
df_sal50 = spark.read.csv('data\\salary50.txt',header=True, inferSchema=True)
df_7087500 = df_sal50.filter((col("emp_id")==7087500) & (month(col("salary_month")).isin(9,12)) & col('salary_id').isNull())
print(df_7087500.count())
print(df_7087500.show())

1
+---------+-------+------------+------+
|salary_id| emp_id|salary_month|amount|
+---------+-------+------------+------+
|     NULL|7087500|  2024-12-24|7730.6|
+---------+-------+------------+------+

None

In [30]:
df_1cr = spark.read.csv("data\\salary_1cr.csv", inferSchema=True, header=True)

In [32]:
# rename the columns
print(df_1cr)

DataFrame[salary_id: int, emp_id: int, salary_month: date, amount: double]

In [34]:
df_1cr.withColumnRenamed('salary_id',"sal_id")
print(df_1cr)

DataFrame[salary_id: int, emp_id: int, salary_month: date, amount: double]

In [35]:
df_1cr.withColumnRenamed('salary_id',"sal_id")
print(df_1cr.columns) # dolumns are not actions

['salary_id', 'emp_id', 'salary_month', 'amount']

In [36]:
df_1cr.withColumnRenamed('salary_id',"sal_id")
df_1cr.show(3) # show is an actions

+---------+--------+------------+-------+
|salary_id|  emp_id|salary_month| amount|
+---------+--------+------------+-------+
|  9505409|39470031|  2020-10-16|7710.72|
|  9505410|39470031|  2020-11-15|3114.26|
|  9505411|39470031|  2020-12-15|10102.4|
+---------+--------+------------+-------+
only showing top 3 rows

In [37]:
df_1cr.withColumnRenamed('emp_id',"empid")
df_1cr.show(3) # show is an actions

+---------+--------+------------+-------+
|salary_id|  emp_id|salary_month| amount|
+---------+--------+------------+-------+
|  9505409|39470031|  2020-10-16|7710.72|
|  9505410|39470031|  2020-11-15|3114.26|
|  9505411|39470031|  2020-12-15|10102.4|
+---------+--------+------------+-------+
only showing top 3 rows

## the transformations will not change the existing dataframe. The SPRAK DATAFRAME IS IMMUTABLE OBJECT TYPE

In [38]:
df_1cr_renamed = df_1cr.withColumnRenamed('emp_id',"empid")
df_1cr_renamed.show(3) # show is an actions

+---------+--------+------------+-------+
|salary_id|   empid|salary_month| amount|
+---------+--------+------------+-------+
|  9505409|39470031|  2020-10-16|7710.72|
|  9505410|39470031|  2020-11-15|3114.26|
|  9505411|39470031|  2020-12-15|10102.4|
+---------+--------+------------+-------+
only showing top 3 rows

## ALL TRNASFORMATIONS RETURNS THE NEW DATAFRAME

### withColumn
#### helps us to create new column or change the existing column

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [5]:
spark = SparkSession.builder.getOrCreate()

In [6]:
df = spark.read.csv('data\\salary_1cr.csv', header=True, inferSchema=True)

In [7]:
df.columns

['salary_id', 'emp_id', 'salary_month', 'amount']

In [8]:
from pyspark.sql.functions import year

In [9]:
df = df.withColumn("YEAR",year(df.salary_month))

In [10]:
df.columns

['salary_id', 'emp_id', 'salary_month', 'amount', 'YEAR']

In [19]:
df.show(10)

+---------+--------+------------+--------+----+
|salary_id|  emp_id|salary_month|  amount|YEAR|
+---------+--------+------------+--------+----+
|  9505409|39470031|  2020-10-16| 7710.72|2020|
|  9505410|39470031|  2020-11-15| 3114.26|2020|
|  9505411|39470031|  2020-12-15| 10102.4|2020|
|  9505412|39470031|  2021-01-14|13129.35|2020|
|  9505413|39470031|  2021-02-13|  5642.5|2020|
|  9505414|39470031|  2021-03-15|  7808.9|2020|
|  9505415|39470031|  2021-04-14|  5634.8|2020|
|  9505416|39470031|  2021-05-14|  9629.5|2020|
|  9505417|39470031|  2021-06-13| 14030.1|2020|
|  9505418|39470031|  2021-07-13|  6550.5|2020|
+---------+--------+------------+--------+----+
only showing top 10 rows

In [13]:
df = df.withColumn("YEAR","2020")

PySparkTypeError: [NOT_COLUMN] Argument `col` should be a Column, got str.

In [18]:
from pyspark.sql.functions import lit
df = df.withColumn("YEAR",lit("2020"))
print(df.show(10))

+---------+--------+------------+--------+----+
|salary_id|  emp_id|salary_month|  amount|YEAR|
+---------+--------+------------+--------+----+
|  9505409|39470031|  2020-10-16| 7710.72|2020|
|  9505410|39470031|  2020-11-15| 3114.26|2020|
|  9505411|39470031|  2020-12-15| 10102.4|2020|
|  9505412|39470031|  2021-01-14|13129.35|2020|
|  9505413|39470031|  2021-02-13|  5642.5|2020|
|  9505414|39470031|  2021-03-15|  7808.9|2020|
|  9505415|39470031|  2021-04-14|  5634.8|2020|
|  9505416|39470031|  2021-05-14|  9629.5|2020|
|  9505417|39470031|  2021-06-13| 14030.1|2020|
|  9505418|39470031|  2021-07-13|  6550.5|2020|
+---------+--------+------------+--------+----+
only showing top 10 rows

None

In [17]:
from pyspark.sql.functions import lit
df = df.withColumn("YEAR",lit(None))
print(df.show(10))

+---------+--------+------------+--------+----+
|salary_id|  emp_id|salary_month|  amount|YEAR|
+---------+--------+------------+--------+----+
|  9505409|39470031|  2020-10-16| 7710.72|NULL|
|  9505410|39470031|  2020-11-15| 3114.26|NULL|
|  9505411|39470031|  2020-12-15| 10102.4|NULL|
|  9505412|39470031|  2021-01-14|13129.35|NULL|
|  9505413|39470031|  2021-02-13|  5642.5|NULL|
|  9505414|39470031|  2021-03-15|  7808.9|NULL|
|  9505415|39470031|  2021-04-14|  5634.8|NULL|
|  9505416|39470031|  2021-05-14|  9629.5|NULL|
|  9505417|39470031|  2021-06-13| 14030.1|NULL|
|  9505418|39470031|  2021-07-13|  6550.5|NULL|
+---------+--------+------------+--------+----+
only showing top 10 rows

None

In [21]:
# doe the withColumn handles the NULL values?
df_50null = spark.read.csv("data\\salary50.txt", header=True, inferSchema=True)
df_50null.show(10)

+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|    NULL|
|  4504018|7087500|        NULL| 9370.35|
|  4504019|   NULL|  2024-11-24| 3679.19|
|     NULL|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
|  4504022|7087520|  2020-03-20| 6668.04|
|  4504023|7087520|  2020-04-19|  5948.5|
|  4504024|7087520|  2020-05-19| 6760.61|
|  4504025|7087520|  2020-06-18|12243.51|
|  4504026|7087520|  2020-07-18| 3069.33|
+---------+-------+------------+--------+
only showing top 10 rows

In [22]:
df_50null = df_50null.withColumn("YEAR", year(col('salary_month')))
print(df_50null.show(10))

+---------+-------+------------+--------+----+
|salary_id| emp_id|salary_month|  amount|YEAR|
+---------+-------+------------+--------+----+
|  4504017|7087500|  2024-09-25|    NULL|2024|
|  4504018|7087500|        NULL| 9370.35|NULL|
|  4504019|   NULL|  2024-11-24| 3679.19|2024|
|     NULL|7087500|  2024-12-24|  7730.6|2024|
|  4504021|7087520|  2020-02-19|14822.82|2020|
|  4504022|7087520|  2020-03-20| 6668.04|2020|
|  4504023|7087520|  2020-04-19|  5948.5|2020|
|  4504024|7087520|  2020-05-19| 6760.61|2020|
|  4504025|7087520|  2020-06-18|12243.51|2020|
|  4504026|7087520|  2020-07-18| 3069.33|2020|
+---------+-------+------------+--------+----+
only showing top 10 rows

None

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
import numpy as np
from datetime import date, datetime
spark = SparkSession.builder.getOrCreate()

In [7]:
df = spark.read.csv('data\\salary50.txt', header=True, inferSchema=True)
df.show(5)

+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|    NULL|
|  4504018|7087500|        NULL| 9370.35|
|  4504019|   NULL|  2024-11-24| 3679.19|
|     NULL|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
+---------+-------+------------+--------+
only showing top 5 rows

In [5]:
df.amount.cast("int")
df.show(5)

+---------+-------+------------+--------+
|salary_id| emp_id|salary_month|  amount|
+---------+-------+------------+--------+
|  4504017|7087500|  2024-09-25|    NULL|
|  4504018|7087500|        NULL| 9370.35|
|  4504019|   NULL|  2024-11-24| 3679.19|
|     NULL|7087500|  2024-12-24|  7730.6|
|  4504021|7087520|  2020-02-19|14822.82|
+---------+-------+------------+--------+
only showing top 5 rows

In [16]:
from pyspark.sql.functions import col
from pyspark.sql.types import FloatType, IntegerType, StringType

df = df.withColumn("amount", col("amount").cast(IntegerType()))
df.show(5)

+---------+-------+------------+------+
|salary_id| emp_id|salary_month|amount|
+---------+-------+------------+------+
|  4504017|7087500|  2024-09-25|  NULL|
|  4504018|7087500|        NULL|  9370|
|  4504019|   NULL|  2024-11-24|  3679|
|     NULL|7087500|  2024-12-24|  7730|
|  4504021|7087520|  2020-02-19| 14822|
+---------+-------+------------+------+
only showing top 5 rows

In [14]:
from pyspark.sql import functions
print(dir(functions))

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'JVMView', 'List', 'Optional', 'PandasUDFType', 'PySparkTypeError', 'PySparkValueError', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Type', 'Union', 'UserDefinedFunction', 'UserDefinedTableFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_py_udf', '_create_py_udtf', '_from_numpy_type', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aes_decrypt', 'aes_encrypt', 'aggregate', 'any_value', 'approxCountDistinct', 'approx_count_distinct', 'approx_percentile', 'array', 'array_agg', 'array_append', 'array_compact', 'array_contains', 'array_distinct', 'array_except', 'array_insert', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_prepend', 'array_remove', 'array_repeat', 'array_size', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_and', 'bit_count', 'bit_get', 'bit_length', 'bit_or', 'bit_xor', 'bitmap_bit_position', 'bitmap_bucket_number', 'bitmap_construct_agg', 'bitmap_count', 'bitmap_or_agg', 'bitwiseNOT', 'bitwise_not', 'bool_and', 'bool_or', 'broadcast', 'bround', 'btrim', 'bucket', 'call_function', 'call_udf', 'cardinality', 'cast', 'cbrt', 'ceil', 'ceiling', 'char', 'char_length', 'character_length', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'contains', 'conv', 'convert_timezone', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'count_if', 'count_min_sketch', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'curdate', 'current_catalog', 'current_database', 'current_date', 'current_schema', 'current_timestamp', 'current_timezone', 'current_user', 'date_add', 'date_diff', 'date_format', 'date_from_unix_date', 'date_part', 'date_sub', 'date_trunc', 'dateadd', 'datediff', 'datepart', 'day', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decimal', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'e', 'element_at', 'elt', 'encode', 'endswith', 'equal_null', 'every', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'extract', 'factorial', 'filter', 'find_in_set', 'first', 'first_value', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get', 'get_active_spark_context', 'get_json_object', 'getbit', 'greatest', 'grouping', 'grouping_id', 'has_numpy', 'hash', 'hex', 'histogram_numeric', 'hll_sketch_agg', 'hll_sketch_estimate', 'hll_union', 'hll_union_agg', 'hour', 'hours', 'hypot', 'ifnull', 'ilike', 'initcap', 'inline', 'inline_outer', 'input_file_block_length', 'input_file_block_start', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnotnull', 'isnull', 'java_method', 'json_array_length', 'json_object_keys', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'last_value', 'lcase', 'lead', 'least', 'left', 'length', 'levenshtein', 'like', 'lit', 'ln', 'localtimestamp', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'make_dt_interval', 'make_interval', 'make_timestamp', 'make_timestamp_ltz', 'make_timestamp_ntz', 'make_ym_interval', 'map_concat', 'map_contains_key', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'mask', 'max', 'max_by', 'md5', 'mean', 'median', 'min', 'min_by', 'minute', 'mode', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'named_struct', 'nanvl', 'negate', 'negative', 'next_day', 'now', 'np', 'nth_value', 'ntile', 'nullif', 'nvl', 'nvl2', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'parse_url', 'percent_rank', 'percentile', 'percentile_approx', 'pi', 'pmod', 'posexplode', 'posexplode_outer', 'position', 'positive', 'pow', 'power', 'printf', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'reduce', 'reflect', 'regexp', 'regexp_count', 'regexp_extract', 'regexp_extract_all', 'regexp_instr', 'regexp_like', 'regexp_replace', 'regexp_substr', 'regr_avgx', 'regr_avgy', 'regr_count', 'regr_intercept', 'regr_r2', 'regr_slope', 'regr_sxx', 'regr_sxy', 'regr_syy', 'repeat', 'replace', 'reverse', 'right', 'rint', 'rlike', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'sign', 'signum', 'sin', 'sinh', 'size', 'skewness', 'slice', 'some', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'split_part', 'sqrt', 'stack', 'startswith', 'std', 'stddev', 'stddev_pop', 'stddev_samp', 'str_to_map', 'struct', 'substr', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_micros', 'timestamp_millis', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_binary', 'to_char', 'to_csv', 'to_date', 'to_json', 'to_number', 'to_str', 'to_timestamp', 'to_timestamp_ltz', 'to_timestamp_ntz', 'to_unix_timestamp', 'to_utc_timestamp', 'to_varchar', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'try_add', 'try_aes_decrypt', 'try_avg', 'try_divide', 'try_element_at', 'try_multiply', 'try_remote_functions', 'try_subtract', 'try_sum', 'try_to_binary', 'try_to_number', 'try_to_timestamp', 'typeof', 'ucase', 'udf', 'udtf', 'unbase64', 'unhex', 'unix_date', 'unix_micros', 'unix_millis', 'unix_seconds', 'unix_timestamp', 'unwrap_udt', 'upper', 'url_decode', 'url_encode', 'user', 'var_pop', 'var_samp', 'variance', 'version', 'warnings', 'weekday', 'weekofyear', 'when', 'width_bucket', 'window', 'window_time', 'xpath', 'xpath_boolean', 'xpath_double', 'xpath_float', 'xpath_int', 'xpath_long', 'xpath_number', 'xpath_short', 'xpath_string', 'xxhash64', 'year', 'years', 'zip_with']

In [17]:
from pyspark.sql import types
print(dir(types))

['AnsiIntervalType', 'Any', 'ArrayType', 'AtomicType', 'BinaryType', 'BooleanType', 'ByteType', 'Callable', 'CharType', 'ClassVar', 'CloudPickleSerializer', 'DataType', 'DataTypeSingleton', 'DateConverter', 'DateType', 'DatetimeConverter', 'DatetimeNTZConverter', 'DayTimeIntervalType', 'DayTimeIntervalTypeConverter', 'DecimalType', 'Dict', 'DoubleType', 'FloatType', 'FractionalType', 'GatewayClient', 'IntegerType', 'IntegralType', 'Iterable', 'Iterator', 'JVMView', 'JavaClass', 'JavaGateway', 'JavaObject', 'List', 'LongType', 'MapType', 'NullType', 'NumericType', 'NumpyArrayConverter', 'NumpyScalarConverter', 'Optional', 'PySparkNotImplementedError', 'PySparkTypeError', 'PySparkValueError', 'Row', 'ShortType', 'StringType', 'StructField', 'StructType', 'T', 'TYPE_CHECKING', 'TimestampNTZType', 'TimestampType', 'Tuple', 'Type', 'TypeVar', 'U', 'Union', 'UserDefinedType', 'VarcharType', 'YearMonthIntervalType', '_FIXED_DECIMAL', '_INTERVAL_DAYTIME', '_INTERVAL_YEARMONTH', '_LENGTH_CHAR', '_LENGTH_VARCHAR', '__all__', '__annotations__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_acceptable_types', '_all_atomic_types', '_all_complex_types', '_array_signed_int_typecode_ctype_mappings', '_array_type_mappings', '_array_unsigned_int_typecode_ctype_mappings', '_atomic_types', '_complex_types', '_create_converter', '_create_row', '_create_row_inbound_converter', '_from_numpy_type', '_has_nulltype', '_has_type', '_infer_schema', '_infer_type', '_int_size_to_type', '_make_type_verifier', '_merge_type', '_need_converter', '_parse_datatype_json_string', '_parse_datatype_json_value', '_parse_datatype_string', '_test', '_type_mappings', '_typecode', 'array', 'base64', 'calendar', 'cast', 'ctypes', 'datetime', 'decimal', 'dt', 'get_active_spark_context', 'has_numpy', 'json', 'math', 'np', 'overload', 're', 'reduce', 'register_input_converter', 'size', 'sys', 'time']

In [22]:
data = [(1, "Alice", 25.5), (2, "Bob", 30.0)]
df = spark.read.csv('data\\sample_employee_data.txt', header=True, inferSchema=True)
df.show()
df.printSchema()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)

In [26]:
from pyspark.sql.types import StructType, StructField, IntegerType, FloatType, StringType
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", FloatType(), True)
]
)
df = spark.read.csv('data\\sample_employee_data.txt', header=True, schema=schema)
df.show()
df.printSchema()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: float (nullable = true)

In [27]:
#SQL DDL Schema
schema = "id INT, name STRING, age FLOAT"
df = spark.read.csv('data\\sample_employee_data.txt', header=True, schema=schema)
df.show()
df.printSchema()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: float (nullable = true)

In [29]:
#SQL DDL Schema
schema = "id INT, name STRING, age FLOAT"
df = spark.read.csv('data\\sample_employee_data.txt', header=True, schema=schema)
df_same_columns = spark.read.csv('data\\sample_employee_data_same_columns.txt', header=True, schema=schema)
df_u = df.union(df_same_columns)
df_u.show()

+---+---------+----+
| id|     name| age|
+---+---------+----+
|  1|   Satish|28.2|
|  2|   Vamshi|27.3|
|  3| Bhagavan|29.1|
|  1|    Ameel|28.2|
|  2|  Shravan|27.3|
|  3|Dhanunjay|29.1|
+---+---------+----+

In [30]:
#SQL DDL Schema
schema = "id INT, name STRING, age FLOAT"
df = spark.read.csv('data\\sample_employee_data.txt', header=True, schema=schema)
df_same_columns = spark.read.csv('data\\sample_employee_data_order_miss.txt', header=True, schema=schema)
df_u = df.union(df_same_columns)
df_u.show()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
|  1|    28.2|NULL|
|  2|    27.3|NULL|
|  3|    29.1|NULL|
+---+--------+----+

In [31]:
df_u.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: float (nullable = true)

In [32]:
df = spark.read.csv('data\\sample_employee_data.txt', header=True)
df_same_columns = spark.read.csv('data\\sample_employee_data_order_miss.txt', header=True)
df_u = df.union(df_same_columns)
df_u.show()

+---+--------+--------+
| id|    name|     age|
+---+--------+--------+
|  1|  Satish|    28.2|
|  2|  Vamshi|    27.3|
|  3|Bhagavan|    29.1|
|  1|    28.2|  Satish|
|  2|    27.3|  Vamshi|
|  3|    29.1|Bhagavan|
+---+--------+--------+

In [33]:
df = spark.read.csv('data\\sample_employee_data.txt', header=True)
df_same_columns = spark.read.csv('data\\sample_employee_data_order_miss.txt', header=True)
df_u = df.unionByName(df_same_columns)
df_u.show()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+

In [34]:
df = spark.read.csv('data\\sample_employee_data.txt', header=True)
df_extra_column = spark.read.csv('data\\sample_employee_data_extra_col.txt', header=True)
df_u = df.unionByName(df_same_columns)
df_u.show()

+---+--------+----+
| id|    name| age|
+---+--------+----+
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
|  1|  Satish|28.2|
|  2|  Vamshi|27.3|
|  3|Bhagavan|29.1|
+---+--------+----+

In [35]:
df = spark.read.csv('data\\sample_employee_data.txt', header=True)
df_extra_column = spark.read.csv('data\\sample_employee_data_extra_col.txt', header=True)
df_u = df_same_columns.unionByName(df)
df_u.show()

+---+----+--------+
| id| age|    name|
+---+----+--------+
|  1|28.2|  Satish|
|  2|27.3|  Vamshi|
|  3|29.1|Bhagavan|
|  1|28.2|  Satish|
|  2|27.3|  Vamshi|
|  3|29.1|Bhagavan|
+---+----+--------+

In [36]:
df = spark.read.csv('data\\sample_employee_data.txt', header=True)
df_extra_column = spark.read.csv('data\\sample_employee_data_extra_col.txt', header=True)
df_u = df_same_columns.union(df)
df_u.show()

+---+--------+--------+
| id|     age|    name|
+---+--------+--------+
|  1|    28.2|  Satish|
|  2|    27.3|  Vamshi|
|  3|    29.1|Bhagavan|
|  1|  Satish|    28.2|
|  2|  Vamshi|    27.3|
|  3|Bhagavan|    29.1|
+---+--------+--------+

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder.getOrCreate()

In [2]:
df = spark.read.csv('data\\explode_data.txt',header=True, inferSchema=True)
df.show()

+-----------+--------------------+----------+
|customer_id|               items|      date|
+-----------+--------------------+----------+
|        101|Laptop;Mouse;Keyb...|2025-03-09|
|        102|  Smartphone;Earbuds|2025-03-08|
|        103|              Tablet|2025-03-07|
|        104|Monitor;HDMICable...|2025-03-06|
+-----------+--------------------+----------+

In [6]:
from pyspark.sql.functions import split,col
df = spark.read.csv('data\\explode_data.txt',header=True, inferSchema=True)
df.show()
df.withColumn("items",split(col("items"),";")).show()

+-----------+--------------------+----------+
|customer_id|               items|      date|
+-----------+--------------------+----------+
|        101|Laptop;Mouse;Keyb...|2025-03-09|
|        102|  Smartphone;Earbuds|2025-03-08|
|        103|              Tablet|2025-03-07|
|        104|Monitor;HDMICable...|2025-03-06|
+-----------+--------------------+----------+

+-----------+--------------------+----------+
|customer_id|               items|      date|
+-----------+--------------------+----------+
|        101|[Laptop, Mouse, K...|2025-03-09|
|        102|[Smartphone, Earb...|2025-03-08|
|        103|            [Tablet]|2025-03-07|
|        104|[Monitor, HDMICab...|2025-03-06|
+-----------+--------------------+----------+

In [7]:
from pyspark.sql.functions import split,col,explode
df = spark.read.csv('data\\explode_data.txt',header=True, inferSchema=True)
df.show()
df = df.withColumn("items",split(col("items"),";"))
df.withColumn("items_1", explode('items')).show()

+-----------+--------------------+----------+
|customer_id|               items|      date|
+-----------+--------------------+----------+
|        101|Laptop;Mouse;Keyb...|2025-03-09|
|        102|  Smartphone;Earbuds|2025-03-08|
|        103|              Tablet|2025-03-07|
|        104|Monitor;HDMICable...|2025-03-06|
+-----------+--------------------+----------+

+-----------+--------------------+----------+----------+
|customer_id|               items|      date|   items_1|
+-----------+--------------------+----------+----------+
|        101|[Laptop, Mouse, K...|2025-03-09|    Laptop|
|        101|[Laptop, Mouse, K...|2025-03-09|     Mouse|
|        101|[Laptop, Mouse, K...|2025-03-09|  Keyboard|
|        102|[Smartphone, Earb...|2025-03-08|Smartphone|
|        102|[Smartphone, Earb...|2025-03-08|   Earbuds|
|        103|            [Tablet]|2025-03-07|    Tablet|
|        104|[Monitor, HDMICab...|2025-03-06|   Monitor|
|        104|[Monitor, HDMICab...|2025-03-06| HDMICable|
|        104|[Monitor, HDMICab...|2025-03-06|   Speaker|
+-----------+--------------------+----------+----------+

In [9]:
from pyspark.sql.functions import split,col,explode
df = spark.read.csv('data\\explode_data.txt',header=True, inferSchema=True)
df.show()
df = df.withColumn("items_list",split(col("items"),";"))
df.withColumn("items_1", explode('items_list')).show()

+-----------+--------------------+----------+
|customer_id|               items|      date|
+-----------+--------------------+----------+
|        101|Laptop;Mouse;Keyb...|2025-03-09|
|        102|  Smartphone;Earbuds|2025-03-08|
|        103|              Tablet|2025-03-07|
|        104|Monitor;HDMICable...|2025-03-06|
+-----------+--------------------+----------+

+-----------+--------------------+----------+--------------------+----------+
|customer_id|               items|      date|          items_list|   items_1|
+-----------+--------------------+----------+--------------------+----------+
|        101|Laptop;Mouse;Keyb...|2025-03-09|[Laptop, Mouse, K...|    Laptop|
|        101|Laptop;Mouse;Keyb...|2025-03-09|[Laptop, Mouse, K...|     Mouse|
|        101|Laptop;Mouse;Keyb...|2025-03-09|[Laptop, Mouse, K...|  Keyboard|
|        102|  Smartphone;Earbuds|2025-03-08|[Smartphone, Earb...|Smartphone|
|        102|  Smartphone;Earbuds|2025-03-08|[Smartphone, Earb...|   Earbuds|
|        103|              Tablet|2025-03-07|            [Tablet]|    Tablet|
|        104|Monitor;HDMICable...|2025-03-06|[Monitor, HDMICab...|   Monitor|
|        104|Monitor;HDMICable...|2025-03-06|[Monitor, HDMICab...| HDMICable|
|        104|Monitor;HDMICable...|2025-03-06|[Monitor, HDMICab...|   Speaker|
+-----------+--------------------+----------+--------------------+----------+

In [10]:
from pyspark.sql.functions import split,col,explode, array_contains
df = spark.read.csv('data\\explode_data.txt',header=True, inferSchema=True)
df.show()
df = df.withColumn("items_list",split(col("items"),";"))
df.withColumn("item_has_mouse",array_contains("items_list", "mouse")).show()

+-----------+--------------------+----------+
|customer_id|               items|      date|
+-----------+--------------------+----------+
|        101|Laptop;Mouse;Keyb...|2025-03-09|
|        102|  Smartphone;Earbuds|2025-03-08|
|        103|              Tablet|2025-03-07|
|        104|Monitor;HDMICable...|2025-03-06|
+-----------+--------------------+----------+

+-----------+--------------------+----------+--------------------+--------------+
|customer_id|               items|      date|          items_list|item_has_mouse|
+-----------+--------------------+----------+--------------------+--------------+
|        101|Laptop;Mouse;Keyb...|2025-03-09|[Laptop, Mouse, K...|         false|
|        102|  Smartphone;Earbuds|2025-03-08|[Smartphone, Earb...|         false|
|        103|              Tablet|2025-03-07|            [Tablet]|         false|
|        104|Monitor;HDMICable...|2025-03-06|[Monitor, HDMICab...|         false|
+-----------+--------------------+----------+--------------------+--------------+

In [11]:
from pyspark.sql.functions import split,col,explode, array_contains
df = spark.read.csv('data\\explode_data.txt',header=True, inferSchema=True)
df.show()
df = df.withColumn("items_list",split(col("items"),";"))
df.withColumn("item_has_mouse",array_contains("items_list", "Mouse")).show()

+-----------+--------------------+----------+
|customer_id|               items|      date|
+-----------+--------------------+----------+
|        101|Laptop;Mouse;Keyb...|2025-03-09|
|        102|  Smartphone;Earbuds|2025-03-08|
|        103|              Tablet|2025-03-07|
|        104|Monitor;HDMICable...|2025-03-06|
+-----------+--------------------+----------+

+-----------+--------------------+----------+--------------------+--------------+
|customer_id|               items|      date|          items_list|item_has_mouse|
+-----------+--------------------+----------+--------------------+--------------+
|        101|Laptop;Mouse;Keyb...|2025-03-09|[Laptop, Mouse, K...|          true|
|        102|  Smartphone;Earbuds|2025-03-08|[Smartphone, Earb...|         false|
|        103|              Tablet|2025-03-07|            [Tablet]|         false|
|        104|Monitor;HDMICable...|2025-03-06|[Monitor, HDMICab...|         false|
+-----------+--------------------+----------+--------------------+--------------+

In [1]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, lpad, rpad, substring

In [4]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, lpad, rpad, substring
df = spark.read.csv("data\\employee.csv", header=True, inferSchema=True)

In [5]:
df.show(10)

+------+----------+---------+-------+----------+--------------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|
+------+----------+---------+-------+----------+--------------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|
+------+----------+---------+-------+----------+--------------------+
only showing top 10 rows

In [6]:
df.withColumn("first_name_upper",upper(col('first_name'))).show(10)

+------+----------+---------+-------+----------+--------------------+----------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|first_name_upper|
+------+----------+---------+-------+----------+--------------------+----------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|            ERIC|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|           HENRY|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|           JAMES|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|          THOMAS|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|            MARY|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|        KIMBERLY|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|           SHAWN|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|          ARTHUR|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|           SUSAN|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|        VICTORIA|
+------+----------+---------+-------+----------+--------------------+----------------+
only showing top 10 rows

In [7]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, lpad, rpad, substring
df.withColumn("first_name_upper",lower(col('first_name'))).show(10)

+------+----------+---------+-------+----------+--------------------+----------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|first_name_upper|
+------+----------+---------+-------+----------+--------------------+----------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|            eric|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|           henry|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|           james|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|          thomas|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|            mary|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|        kimberly|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|           shawn|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|          arthur|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|           susan|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|        victoria|
+------+----------+---------+-------+----------+--------------------+----------------+
only showing top 10 rows

In [8]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, lpad, rpad, substring
df.withColumn("first_name_upper",length(col('first_name'))).show(10)

+------+----------+---------+-------+----------+--------------------+----------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|first_name_upper|
+------+----------+---------+-------+----------+--------------------+----------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|               4|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|               5|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|               5|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|               6|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|               4|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|               8|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|               5|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|               6|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|               5|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|               8|
+------+----------+---------+-------+----------+--------------------+----------------+
only showing top 10 rows

In [10]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("first_name_upper",trim(col('email'))).show(10)
df.withColumn("first_name_upper",ltrim(col('email'))).show(10)
df.withColumn("first_name_upper",rtrim(col('email'))).show(10)

+------+----------+---------+-------+----------+--------------------+--------------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|    first_name_upper|
+------+----------+---------+-------+----------+--------------------+--------------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|gloria50@example.com|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|romancharles@exam...|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net| emily15@example.net|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com| ggraves@example.com|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|   xhill@example.com|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|katelyn88@example...|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|sharonking@exampl...|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|chavezrobin@examp...|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|  ndavis@example.com|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com| peter54@example.com|
+------+----------+---------+-------+----------+--------------------+--------------------+
only showing top 10 rows

+------+----------+---------+-------+----------+--------------------+--------------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|    first_name_upper|
+------+----------+---------+-------+----------+--------------------+--------------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|gloria50@example.com|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|romancharles@exam...|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net| emily15@example.net|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com| ggraves@example.com|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|   xhill@example.com|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|katelyn88@example...|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|sharonking@exampl...|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|chavezrobin@examp...|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|  ndavis@example.com|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com| peter54@example.com|
+------+----------+---------+-------+----------+--------------------+--------------------+
only showing top 10 rows

+------+----------+---------+-------+----------+--------------------+--------------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|    first_name_upper|
+------+----------+---------+-------+----------+--------------------+--------------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|gloria50@example.com|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|romancharles@exam...|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net| emily15@example.net|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com| ggraves@example.com|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|   xhill@example.com|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|katelyn88@example...|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|sharonking@exampl...|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|chavezrobin@examp...|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|  ndavis@example.com|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com| peter54@example.com|
+------+----------+---------+-------+----------+--------------------+--------------------+
only showing top 10 rows

In [11]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("NAME",concat_ws("=>",col('first_name'), col('last_name'))).show(10)

+------+----------+---------+-------+----------+--------------------+----------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|            NAME|
+------+----------+---------+-------+----------+--------------------+----------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|    Eric=>Becker|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|  Henry=>Pacheco|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|   James=>Lawson|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|  Thomas=>Harris|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|    Mary=>Harris|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|Kimberly=>Howard|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...| Shawn=>Martinez|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|Arthur=>Richards|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|  Susan=>Estrada|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|Victoria=>Taylor|
+------+----------+---------+-------+----------+--------------------+----------------+
only showing top 10 rows

In [12]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("NAME",concat_ws(col('first_name'), col('last_name'))).show(10)

PySparkTypeError: [NOT_ITERABLE] Column is not iterable.

In [13]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("NAME",concat_ws(" ",col('first_name'), col('last_name'))).show(10)

+------+----------+---------+-------+----------+--------------------+---------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|           NAME|
+------+----------+---------+-------+----------+--------------------+---------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|    Eric Becker|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|  Henry Pacheco|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|   James Lawson|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|  Thomas Harris|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|    Mary Harris|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|Kimberly Howard|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...| Shawn Martinez|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|Arthur Richards|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|  Susan Estrada|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|Victoria Taylor|
+------+----------+---------+-------+----------+--------------------+---------------+
only showing top 10 rows

In [14]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("NAME",concat_ws("",col('first_name'), col('last_name'))).show(10)

+------+----------+---------+-------+----------+--------------------+--------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|          NAME|
+------+----------+---------+-------+----------+--------------------+--------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|    EricBecker|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|  HenryPacheco|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|   JamesLawson|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|  ThomasHarris|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|    MaryHarris|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|KimberlyHoward|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...| ShawnMartinez|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|ArthurRichards|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|  SusanEstrada|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|VictoriaTaylor|
+------+----------+---------+-------+----------+--------------------+--------------+
only showing top 10 rows

In [15]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("NAME",concat_ws("",col('emp_id'), col('last_name'))).show(10)

+------+----------+---------+-------+----------+--------------------+---------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|     NAME|
+------+----------+---------+-------+----------+--------------------+---------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|  1Becker|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...| 2Pacheco|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|  3Lawson|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|  4Harris|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|  5Harris|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|  6Howard|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|7Martinez|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|8Richards|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com| 9Estrada|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com| 10Taylor|
+------+----------+---------+-------+----------+--------------------+---------+
only showing top 10 rows

In [18]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("NAME",regexp_replace(col('email'), "exam","EXAM")).show(10)

+------+----------+---------+-------+----------+--------------------+--------------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|                NAME|
+------+----------+---------+-------+----------+--------------------+--------------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|gloria50@EXAMple.com|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|romancharles@EXAM...|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net| emily15@EXAMple.net|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com| ggraves@EXAMple.com|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|   xhill@EXAMple.com|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|katelyn88@EXAMple...|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|sharonking@EXAMpl...|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|chavezrobin@EXAMp...|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|  ndavis@EXAMple.com|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com| peter54@EXAMple.com|
+------+----------+---------+-------+----------+--------------------+--------------------+
only showing top 10 rows

In [19]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("NAME",regexp_replace(col('email'), "exam.*","EXAM")).show(10)

+------+----------+---------+-------+----------+--------------------+-----------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|             NAME|
+------+----------+---------+-------+----------+--------------------+-----------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|    gloria50@EXAM|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|romancharles@EXAM|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|     emily15@EXAM|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|     ggraves@EXAM|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|       xhill@EXAM|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|   katelyn88@EXAM|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|  sharonking@EXAM|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...| chavezrobin@EXAM|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|      ndavis@EXAM|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|     peter54@EXAM|
+------+----------+---------+-------+----------+--------------------+-----------------+
only showing top 10 rows

In [20]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("is_com",(col('email').contains('example'))).show(10)

+------+----------+---------+-------+----------+--------------------+------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|is_com|
+------+----------+---------+-------+----------+--------------------+------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|  true|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|  true|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|  true|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|  true|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|  true|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|  true|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|  true|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|  true|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|  true|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|  true|
+------+----------+---------+-------+----------+--------------------+------+
only showing top 10 rows

In [23]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("is_com", substring(col('email'),3,8)).show(10)

+------+----------+---------+-------+----------+--------------------+--------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|  is_com|
+------+----------+---------+-------+----------+--------------------+--------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|oria50@e|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|mancharl|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|ily15@ex|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|raves@ex|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|ill@exam|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|telyn88@|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|aronking|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|avezrobi|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|avis@exa|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|ter54@ex|
+------+----------+---------+-------+----------+--------------------+--------+
only showing top 10 rows

In [25]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("is_com", lpad(col('email'),2,"*")).show(10)

+------+----------+---------+-------+----------+--------------------+------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|is_com|
+------+----------+---------+-------+----------+--------------------+------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|    gl|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|    ro|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|    em|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|    gg|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|    xh|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|    ka|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|    sh|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|    ch|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|    nd|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|    pe|
+------+----------+---------+-------+----------+--------------------+------+
only showing top 10 rows

In [26]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("is_com", lpad(col('email'),20,"*")).show(10)

+------+----------+---------+-------+----------+--------------------+--------------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|              is_com|
+------+----------+---------+-------+----------+--------------------+--------------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|gloria50@example.com|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|romancharles@example|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|*emily15@example.net|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|*ggraves@example.com|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|***xhill@example.com|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|katelyn88@example.co|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|sharonking@example.o|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|chavezrobin@example.|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|**ndavis@example.com|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|*peter54@example.com|
+------+----------+---------+-------+----------+--------------------+--------------------+
only showing top 10 rows

In [27]:
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, substring
df.withColumn("is_com", rpad(col('email'),20,"*")).show(10)

+------+----------+---------+-------+----------+--------------------+--------------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email|              is_com|
+------+----------+---------+-------+----------+--------------------+--------------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|gloria50@example.com|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|romancharles@example|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|emily15@example.net*|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|ggraves@example.com*|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|xhill@example.com***|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|katelyn88@example.co|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|sharonking@example.o|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|chavezrobin@example.|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|ndavis@example.com**|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|peter54@example.com*|
+------+----------+---------+-------+----------+--------------------+--------------------+
only showing top 10 rows

In [32]:
from pyspark.sql.functions import (col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, 
    substring, regexp_extract)
df.withColumn("new_col", regexp_extract(col('last_name'),'^[HM].+[sdz]$',0)).show(10)

+------+----------+---------+-------+----------+--------------------+--------+
|emp_id|first_name|last_name|dept_id| hire_date|               email| new_col|
+------+----------+---------+-------+----------+--------------------+--------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|        |
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|        |
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|        |
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|  Harris|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|  Harris|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|  Howard|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|Martinez|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|        |
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|        |
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|        |
+------+----------+---------+-------+----------+--------------------+--------+
only showing top 10 rows

In [34]:
from pyspark.sql.functions import (col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, 
    substring, regexp_extract)
df = spark.read.csv("data\\employee.csv", header=True, inferSchema=True)
df = df.withColumn("matched", regexp_extract(col('last_name'),'^[HM].+[sdz]$',0))
df = df.withColumn("matched_upper", upper(col('matched')))
df.show(10)

+------+----------+---------+-------+----------+--------------------+--------+-------------+
|emp_id|first_name|last_name|dept_id| hire_date|               email| matched|matched_upper|
+------+----------+---------+-------+----------+--------------------+--------+-------------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|        |             |
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|        |             |
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|        |             |
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|  Harris|       HARRIS|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|  Harris|       HARRIS|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|  Howard|       HOWARD|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|Martinez|     MARTINEZ|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|        |             |
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|        |             |
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|        |             |
+------+----------+---------+-------+----------+--------------------+--------+-------------+
only showing top 10 rows

In [35]:
from pyspark.sql.functions import (col, upper, lower, length, concat_ws, regexp_replace, trim, ltrim, rtrim, lpad, rpad, 
    substring, regexp_extract)
df = spark.read.csv("data\\employee.csv", header=True, inferSchema=True)
df = df.withColumn("matched", regexp_extract(col('last_name'),'^[HM].+[sdz]$',0))
df = df.withColumn("matched_upper", upper(col('matched')))
df = df.withColumn('final_text', regexp_replace(col('last_name'),'^[HM].+[sdz]$',col('matched_upper') ))
df.show(10)

+------+----------+---------+-------+----------+--------------------+--------+-------------+----------+
|emp_id|first_name|last_name|dept_id| hire_date|               email| matched|matched_upper|final_text|
+------+----------+---------+-------+----------+--------------------+--------+-------------+----------+
|     1|      Eric|   Becker|      9|2016-07-23|gloria50@example.com|        |             |    Becker|
|     2|     Henry|  Pacheco|      3|2015-02-23|romancharles@exam...|        |             |   Pacheco|
|     3|     James|   Lawson|     49|2018-02-07| emily15@example.net|        |             |    Lawson|
|     4|    Thomas|   Harris|     41|2016-09-28| ggraves@example.com|  Harris|       HARRIS|    HARRIS|
|     5|      Mary|   Harris|     40|2018-12-18|   xhill@example.com|  Harris|       HARRIS|    HARRIS|
|     6|  Kimberly|   Howard|     24|2024-08-24|katelyn88@example...|  Howard|       HOWARD|    HOWARD|
|     7|     Shawn| Martinez|     47|2021-06-01|sharonking@exampl...|Martinez|     MARTINEZ|  MARTINEZ|
|     8|    Arthur| Richards|      7|2023-12-14|chavezrobin@examp...|        |             |  Richards|
|     9|     Susan|  Estrada|     22|2021-12-31|  ndavis@example.com|        |             |   Estrada|
|    10|  Victoria|   Taylor|     43|2024-12-07| peter54@example.com|        |             |    Taylor|
+------+----------+---------+-------+----------+--------------------+--------+-------------+----------+
only showing top 10 rows

In [37]:
print(dir(df.last_name))

['__add__', '__and__', '__bool__', '__class__', '__contains__', '__delattr__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__invert__', '__iter__', '__le__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '_asc_doc', '_asc_nulls_first_doc', '_asc_nulls_last_doc', '_bitwiseAND_doc', '_bitwiseOR_doc', '_bitwiseXOR_doc', '_contains_doc', '_desc_doc', '_desc_nulls_first_doc', '_desc_nulls_last_doc', '_endswith_doc', '_eqNullSafe_doc', '_isNotNull_doc', '_isNull_doc', '_jc', '_startswith_doc', 'alias', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'astype', 'between', 'bitwiseAND', 'bitwiseOR', 'bitwiseXOR', 'cast', 'contains', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'dropFields', 'endswith', 'eqNullSafe', 'getField', 'getItem', 'ilike', 'isNotNull', 'isNull', 'isin', 'like', 'name', 'otherwise', 'over', 'rlike', 'startswith', 'substr', 'when', 'withField']

In [42]:
string1 = "Becker Pacheco Harris Howard Richards Martinez "
import re
def upper_convert(matched_text):
    print(matched_text)
    print(matched_text.group())
    return matched_text.group().upper()
re.sub("[HM].+?[dz]", upper_convert, string1)

<re.Match object; span=(15, 28), match='Harris Howard'>
Harris Howard
<re.Match object; span=(38, 46), match='Martinez'>
Martinez

'Becker Pacheco HARRIS HOWARD Richards MARTINEZ '

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, datetime
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import col, upper, lower, length, concat_ws, regexp_replace, trim, lpad, rpad, substring

# JOINS

In [8]:
users_df = spark.read.csv("data\\joins\\users.csv", header=True, inferSchema=True)
click_logs_df = spark.read.csv("data\\joins\\click_logs.csv", header=True, inferSchema=True)
users_df.show()
click_logs_df.show()

+-------+-------+-------------------+
|user_id|   name|              email|
+-------+-------+-------------------+
|      1|  Alice|  alice@example.com|
|      2|    Bob|    bob@example.com|
|      3|Charlie|charlie@example.com|
|      4|  David|  david@example.com|
+-------+-------+-------------------+

+--------+-------+-----+-------------------+
|click_id|user_id|ad_id|         click_time|
+--------+-------+-----+-------------------+
|     101|      1| 5001|2025-03-10 10:00:00|
|     102|      2| 5002|2025-03-10 10:05:00|
|     103|      1| 5003|2025-03-10 10:10:00|
|     104|      3| 5004|2025-03-10 10:20:00|
|     107|      5| 5004|2025-03-10 10:20:00|
+--------+-------+-----+-------------------+

## check who cliked on our add

In [9]:
users_df.join(click_logs_df, users_df['user_id']==click_logs_df['user_id'], "inner").show()

+-------+-------+-------------------+--------+-------+-----+-------------------+
|user_id|   name|              email|click_id|user_id|ad_id|         click_time|
+-------+-------+-------------------+--------+-------+-----+-------------------+
|      1|  Alice|  alice@example.com|     101|      1| 5001|2025-03-10 10:00:00|
|      2|    Bob|    bob@example.com|     102|      2| 5002|2025-03-10 10:05:00|
|      1|  Alice|  alice@example.com|     103|      1| 5003|2025-03-10 10:10:00|
|      3|Charlie|charlie@example.com|     104|      3| 5004|2025-03-10 10:20:00|
+-------+-------+-------------------+--------+-------+-----+-------------------+

## You want to get a list of all adds, including those who have not belongs to perticular user (right join)

In [11]:
users_df.join(click_logs_df, users_df['user_id']==click_logs_df['user_id'], "right").show()

+-------+-------+-------------------+--------+-------+-----+-------------------+
|user_id|   name|              email|click_id|user_id|ad_id|         click_time|
+-------+-------+-------------------+--------+-------+-----+-------------------+
|      1|  Alice|  alice@example.com|     101|      1| 5001|2025-03-10 10:00:00|
|      2|    Bob|    bob@example.com|     102|      2| 5002|2025-03-10 10:05:00|
|      1|  Alice|  alice@example.com|     103|      1| 5003|2025-03-10 10:10:00|
|      3|Charlie|charlie@example.com|     104|      3| 5004|2025-03-10 10:20:00|
|   NULL|   NULL|               NULL|     107|      5| 5004|2025-03-10 10:20:00|
+-------+-------+-------------------+--------+-------+-----+-------------------+

## You want to get a list of all users, including those who have not clicked an add (left join)

In [6]:
users_df.join(click_logs_df, users_df['user_id']==click_logs_df['user_id'], "left").show()

+-------+-------+-------------------+--------+-------+-----+-------------------+
|user_id|   name|              email|click_id|user_id|ad_id|         click_time|
+-------+-------+-------------------+--------+-------+-----+-------------------+
|      1|  Alice|  alice@example.com|     103|      1| 5003|2025-03-10 10:10:00|
|      1|  Alice|  alice@example.com|     101|      1| 5001|2025-03-10 10:00:00|
|      2|    Bob|    bob@example.com|     102|      2| 5002|2025-03-10 10:05:00|
|      3|Charlie|charlie@example.com|     104|      3| 5004|2025-03-10 10:20:00|
|      4|  David|  david@example.com|    NULL|   NULL| NULL|               NULL|
+-------+-------+-------------------+--------+-------+-----+-------------------+

## Check who not clicked on our add(anti join)

In [7]:
users_df.join(click_logs_df, users_df['user_id']==click_logs_df['user_id'], "anti").show()

+-------+-----+-----------------+
|user_id| name|            email|
+-------+-----+-----------------+
|      4|David|david@example.com|
+-------+-----+-----------------+

## Fraud Detection in Banking Transactions (SELF JOIN)

In [16]:
transaction_df = spark.read.csv("data\\joins\\user_transactions.csv", header=True, inferSchema=True)
transaction_df.show()
transaction_df.printSchema()

+--------------+-------+------+-------------+----------------+
|transaction_id|user_id|amount|     location|transaction_time|
+--------------+-------+------+-------------+----------------+
|           201|      1|   500|     New York|10-03-2025 12:00|
|           202|      1|   700|  Los Angeles|10-03-2025 12:04|
|           203|      2|   200|      Chicago|10-03-2025 14:00|
|           204|      2|   250|      Chicago|10-03-2025 14:01|
|           205|      3|  1000|San Francisco|10-03-2025 15:30|
|           206|      3|  1500|    Las Vegas|10-03-2025 15:34|
+--------------+-------+------+-------------+----------------+

root
 |-- transaction_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- amount: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- transaction_time: string (nullable = true)

In [14]:
transaction_df = spark.read.csv("data\\joins\\user_transactions.csv", header=True, inferSchema=True)
transaction_df.show()
transaction_df.printSchema()

DataFrame[transaction_id: int, user_id: int, amount: int, location: string, transaction_time: string]